[2018-03-06 14:04] gsarfaty commented on #2
Working document lives here: I[CPI > Clusters >Geospatial Data > Administration > Workplan](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FAdministration%2FWorkplan&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166-4122-B8B4-7BEB9E

[2018-03-06 18:12] gsarfaty commented on #1
Drafts, relevant data sets, and notes in working folder [ICPI > Clusters > Geospatial Data > Working Folder > Ad Hoc > DRC](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FWorking%20Folder%2FAd%20Hoc%2FDRC&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C69

[2018-03-07 15:10] gsarfaty commented on #1
Products QC'd and sent to requestors. Files moved from Geospatial Data Working Folder to [Project Folder](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FAd%20Hoc%2FDRC&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166-41

[2018-03-09 16:08] jb3436 commented on #2
testing slack integration.

[2018-03-12 20:31] gsarfaty commented on #3
Drafts, methods, notes, etc. uploaded to the working folder noted above. @dp1984 doing review

[2018-03-12 21:12] dp1984 commented on #4
I'll do these tomorrow (3/13) and send for review

[2018-03-12 21:13] gsarfaty commented on #3
Moved to [Project folder > Ad Hoc > South Sudan](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FAd%20Hoc%2FSouth%20Sudan&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D) and sent to

[2018-03-13 23:06] dp1984 commented on #4
Posted this map set [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FAd%20Hoc%2FRwanda&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166-4122-B8B4-7BEB9E1BC12B%7D): will send to Rwanda & GIS team for review

[2018-03-15 12:56] dp1984 commented on #4
sent updated mapset to Rwanda on 3/13 w/ updated labels

[2018-03-16 18:52] gsarfaty commented on #2
Planning meeting scheduled for 3/22 with below agenda

1. Year in review
        a. Main accomplishments
        b. Gaps
        c. What should do more of? What should we do less of?
    2. High level SOW & work plan overview - opportunity for discussion, clarification, etc.
        a. Tie in year in review to work plan, add any missing areas of work as needed
    3. Flesh out roles and responsibi

[2018-03-20 15:47] dp1984 commented on #5
I joined DRC health zone file provided by Nate w/ Zambia district file from AGOL and sent directly to Jacob Dee. Not sure I need to post that shapefile on pepfarii.net, but wanted to jot down this issue for tracking/awareness

[2018-04-02 13:15] gsarfaty commented on #6
Two outputs sent to S. Sudan team and put in their folder here: [ICPI > Clusters > Geospatial Data > Projects > Ad Hoc > South Sudan](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FAd%20Hoc%2FSouth%20Sudan&View={94C838B2-E166-4122-B8B4-7BEB9E1BC12B}&InitialTabId=Ribbon%2ELibrar

[2018-04-10 15:50] gsarfaty commented on #2
Work plan was approved, with feedback. @ICPI/gis will review and provide responses to the feedback within ~2 weeks

[2018-04-12 18:35] gsarfaty commented on #7
Request completed and sent to requestor. The output is also in our team's folder: [ICPI>Clusters>Geospatial Data>Projects>Ad Hoc>Malawi](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FAd%20Hoc%2FMalawi&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43

[2018-05-04 18:12] gsarfaty commented on #9
Datastrong will coordinate with Visual Crossing to set up a proof-of-concept next week. Nate will engage around spatial data import and management. [Here](https://support.visualcrossing.com/hc/en-us/articles/216376918-What-s-new-in-Visual-Crossing-4-) is more detail on the mapping capability that is coming.

[2018-05-10 13:41] gsarfaty commented on #8
We were granted access to the DATIM testing environment for 2.29 by the Systems Team but got an error that said, "access denied" when viewing the maps app. Systems notes this was a bug. They alerted UiO and they already fixed it. Systems will be pulling down the latest version of DHIS2 that has this fixed and will let us know once it's up.

[2018-05-18 18:01] gsarfaty commented on #9
PRIME has a meeting today at 3pm re: installation of visual crossing into dev environment of analytic workspaces. More to come...

[2018-05-18 18:03] gsarfaty commented on #8
We were locked out of maps app in testing environment for a long time due to the aforementioned bug and therefore further testing was limited. Thus far do not see other bugs and we support deprecation of GIS module on May 30.

[2018-05-18 18:05] gsarfaty commented on #10
Need to prioritize this over issue #11

Work backward from [FY18](https://datim.zendesk.com/hc/en-us/articles/115001940503) calendar spotlight and pano dates when drafting.

[2018-06-01 14:11] gsarfaty commented on #8
Adoption of 2.29 delayed until June 25th

[2018-06-01 15:08] gsarfaty commented on #13
@imujawar and @anu87 shared in today's meeting. They will follow up with standalone version and associated R code for folks to see & mentally process.

[2018-06-06 19:32] dp1984 commented on #14
Uploaded map draft [here ](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FWorking%20Folder%2FAd%20Hoc%2FUkraine&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166-4122-B8B4-7BEB9E1BC12B%7D)& sent to Bob Gern for review. Will close i

[2018-06-14 16:01] dp1984 commented on #15
Uploaded the map to pepfar.net [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Geospatial%20Data/Working%20Folder/Ad%20Hoc/Ghana/June_2016_Ghana_HIV_pop_prev_prop.png)  and sent for further review

[2018-06-14 16:02] dp1984 commented on #14
Bob Gern had no further edits/feedback

[2018-06-14 17:11] dp1984 commented on #15
They have just added an additional map for MSM Pop/Prev

both maps are located [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FWorking%20Folder%2FAd%20Hoc%2FGhana&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166-4122-B8B4-7B

[2018-06-18 13:02] gsarfaty commented on #9
Visual Crossing update from demo to the FAB:
The platform supports some very nice visualization, including time series animation, but it also comes with some straight up GIS capabilities: buffers, travel-time using OSM road network, and other tools that might help us better assess physical access to health services. Looking forward to working with it.

PRIME still in dialogue with the team to dete

[2018-07-16 14:31] gsarfaty commented on #8
2.29 now delayed until August.

[2018-07-16 14:40] gsarfaty commented on #13
Materials placed [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FSpatial%20Analysis%2FCI&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166-4122-B8B4-7BEB9E1BC12B%7D) on pepfar.net

[2018-08-20 12:45] gsarfaty commented on #10
Sprint team meeting held 8/10 [Nate, Ed, Dustyn, Abe].

Meeting notes uploaded here: [Geospatial Data --> Projects --> Spatial Data Management](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FSpatial%20Data%20Management&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B9

[2018-08-20 13:04] gsarfaty commented on #9
Visual crossing will require single combined shp that contains ALL polygonal levels. Need to finalize SOPs around this as part of spatial data management tasks. Need to generate a metadata file that lists what shp inputs were used to create the master combined shp. This will be critical for understanding updates to the master shp over time and for transparency to users on what's being shown.

Time

[2018-08-20 14:45] gsarfaty commented on #8
Launch scheduled for August 29th. Need to generate metadata file to catalog what polygon files are begin shown in DATIM.

Revisit if/how we may highlight updates to PEPFAR community. [dhis 2 PPT](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FRoutine%20Analytics%20%26%20System%

[2018-08-31 11:55] gsarfaty commented on #11
@dp1984 pulled geospatial examples from all RPM slides and put it in this folder:
Clusters>Geospatial Data>Working folder>Geospatial Community of Practice>[Menu of Ex & Wiki Resources](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FWorking%20Folder%2FGeospatial%20Community%20of%20Practice

[2018-08-31 11:59] gsarfaty commented on #8
DATIM successfully adoped dhis2 2.29 on Aug 29th and the maps app is live. Bug noted when going from pivot to map. Gina submitted ticket on 8/30.

J. Pickering suggested @ICPI/gis team work on:

- [ ] legend sets for key indicators (important both for the maps and well as dashboards); particularly for
standard things like positivity, etc. Raw numbers would be challenging but should be doable for p

[2018-08-31 12:02] gsarfaty commented on #10
@dp1984 and I met on 8/24 to flesh out more detailed tasks that would be required to implement a spatial data mgmt calendar.

Working doc is here: [Geospatial Data --> Working folder --> Spatial Data Management](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FWorking%20Folder%2FSpatial%20D

[2018-10-15 15:01] gsarfaty commented on #8
8/30 ticket issue re: pivot to map remains unresolved; GS inquired today
GML import also still broken so boundary files cannot be updated

@abrahamagedewICPI will raise on DAQ/PRIME/Analytics weekly call

[2018-10-25 18:09] gsarfaty commented on #17
Suggest removing the need for each analyst to join the OU to level 9 file to the coordinates. Instead, we can join OU to level 9 once, then create a facility gdb to share w/the GIS team. I already made one for testing so we can use that one if this approach moves forward.

QGIS does support GDB as this is what I used in my QGIS runs of SQUAD:
![image](https://user-images.githubusercontent.com/1157

[2018-10-26 18:43] gsarfaty commented on #17
+ pull of sites reporting by period by @abrahamagedewICPI. Abe, let me know if you need me to pull up the requirements from wayyyyyyyyy back in the day :)

[2018-10-26 18:53] abrahamagedewICPI commented on #17
@gsarfaty, whats the timeline for the above request?

[2018-10-26 18:55] gsarfaty commented on #17
@abrahamagedewICPI yesterday.

Just kidding. I think this portion (sites reporting by period) can be merged in at the end, so does by end of next week work to have the pull? Say COB 11/2?

[2018-10-26 18:56] abrahamagedewICPI commented on #17
Haha... 11/2 would be fine.

[2018-10-26 20:14] NateHeard commented on #17
Run of Botswana SQUAD using the gdb generated the following error: "local variable 'longLat' referenced before assignment See log for more details." This is a new one for me.

[2018-10-31 15:33] NateHeard commented on #17
All OUs have takers. I've made eight successful runs. However, several OUs returned the error "local variable 'longLat' referenced before assignment". Have others encountered this error? I've noted on G Docs the OUs where this error appeared. Can someone please run one of these to see if it works for them?

[2018-11-01 20:31] kzhanar commented on #17
I run into an issue with Vietnam with error: local variable 'longLat' referenced before assignment See log for more details

[2018-11-01 20:39] gsarfaty commented on #19
@jltobias thank you for this update!

please delete the file from GH. We cannot post outputs here.

[2018-11-02 15:05] gsarfaty opened #1 "Botswana Facility Coordinate Audit"
- [x] Addfacility file to a new project
- [x]   Do a definition query for the OU of interest using Level3name OU and export to a new file
- [x]   Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment,** including its file name
- [x]   Follow SQUAD instructions per below:

![image](https://user-images.githubusercontent.com/11572993/47922821-5

[2018-11-02 15:15] gsarfaty opened #2 "Burundi Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:16] gsarfaty opened #3 "Cameroon Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:18] gsarfaty opened #4 "Cote d'Ivoire Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:21] gsarfaty opened #5 "DRC Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:21] gsarfaty commented on #5
On hold: active health zone shapefile editing underway

[2018-11-02 15:25] gsarfaty opened #6 "Eswatini Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:26] gsarfaty opened #7 "Ethiopia Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:29] gsarfaty opened #8 "Haiti Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:31] gsarfaty opened #9 "Kenya Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:33] gsarfaty opened #10 "Lesotho Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:37] gsarfaty opened #11 "Malawi Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:38] gsarfaty opened #12 "Mozambique Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:39] gsarfaty opened #13 "Namibia Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:39] gsarfaty opened #14 "Nigeria Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:49] gsarfaty opened #15 "Rwanda Facility Coordinate Check"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:49] gsarfaty opened #16 "South Africa Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:51] gsarfaty opened #17 "Tanzania Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:51] gsarfaty commented on #17
On hold: active district shapefile editing underway

[2018-11-02 15:52] gsarfaty opened #18 "Uganda Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:52] gsarfaty opened #19 "Ukraine Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:53] gsarfaty opened #20 "Vietnam Facility Coordinate Audit"
- [ ] Add facility file to a new project

- [ ] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [ ] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:53] gsarfaty opened #21 "South Sudan Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:54] gsarfaty opened #22 "Zambia Facility Coordinate Audit"
- [ ] Add facility file to a new project

- [ ] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [ ] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 15:54] gsarfaty opened #23 "Zimbabwe Facility Coordinate Audit"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions per below:
![image](https://user-images.githubusercontent.com/11572993/47923618-5061

[2018-11-02 17:35] NateHeard commented on #23
Used ZimbabweDistrictLsib2016Sept.shp. Encountered error: local variable 'longLat' referenced before assignment.

[2018-11-02 18:17] NateHeard commented on #21
Used SouthSudan_PROD_5_County_CountyLsib_2017_May.shp.

[2018-11-02 18:19] NateHeard commented on #2
Used BurundiCommuneLsib2016May.shp.

[2018-11-02 18:22] NateHeard commented on #1
Used Botswana_PROD_5_District_HealthDistrictLsib_2018_Jan.shp. Encountered error: local variable 'longLat' referenced before assignment.

[2018-11-02 18:23] NateHeard commented on #3
Used Cameroon_HealthDistricts12012016.shp. Encountered error: local variable 'longLat' referenced before assignment.

[2018-11-02 18:26] NateHeard commented on #6
Used Swaziland_PROD_5_Tinkhundla_TinkhundlaLsib_2016_July.shp.

[2018-11-02 18:28] NateHeard commented on #7
Used Ethiopia_PROD_6_Woreda_WoredaLsib_2017_Dec.shp. Encountered error: local variable 'longLat' referenced before assignment.

[2018-11-02 18:30] NateHeard commented on #8
Used Haiti_PROD_5_District_DistrictLsib_2017_May.shp.

[2018-11-02 18:35] #8 closed, assigned to NateHeard

[2018-11-02 18:40] #2 closed, assigned to NateHeard

[2018-11-02 18:40] #6 closed, assigned to NateHeard

[2018-11-02 18:47] NateHeard commented on #10
Used LesothoDistrictLsib2016Dec.shp.

[2018-11-02 18:47] #10 closed, assigned to NateHeard

[2018-11-02 18:55] NateHeard commented on #11
Used MalawiDistrictLsib2016July.shp. Encountered error: local variable 'longLat' referenced before assignment.

[2018-11-02 19:46] NateHeard commented on #12
Used MozambiqueDistrictsLsib2017Feb.shp.

[2018-11-02 19:46] #12 closed, assigned to NateHeard

[2018-11-02 19:49] NateHeard commented on #13
Used NamibiaHealthDistrictsLsib2016Dec.shp. Encountered error: local variable 'longLat' referenced before assignment.

[2018-11-02 19:59] NateHeard commented on #15
Used Rwanda_PROD_6_Sector_SectorLsib_2018_Oct.shp.

[2018-11-02 19:59] #15 closed, assigned to NateHeard

[2018-11-02 20:00] #21 closed, assigned to NateHeard

[2018-11-06 15:16] gsarfaty opened #24 "Ukraine TA Request"
Cross-reference to [ICPI/Engagements Issue 3](https://github.com/ICPI/Engagements/issues/3)

Next steps per 11/2 call:
- [x] @ICPI/gis to figure out appropriate POCs
- [x] GIS Cluster to have a call with Bob and country team to answer the above questions
- [x] Let ICPI Coordination Office (Jasmine/Kashmira) know if additional support is needed
- [ ] ICPI Coordination to send an email to CL, Chair,

[2018-11-06 15:27] gsarfaty commented on #14
@jltobias can you note the name of the boundary file you used? Then I will close the ticket. Thanks!

[2018-11-06 15:33] jltobias commented on #14
@gsarfaty  The name of the boundary file = Nigeria_PROD_5_LGA_LocalGovernmentAreaLsib_2017_Mar
Thanks !

[2018-11-06 15:33] gsarfaty commented on #14
Excellent. Thank you, @jltobias

[2018-11-06 15:33] #14 closed, assigned to jltobias

[2018-11-06 15:37] gsarfaty commented on #19
@kzhanar thank you for uploading the output to PEPFAR.net. Before I close out the issue, can you tell me the name of the boundary file you used? Thanks!

[2018-11-06 17:32] kzhanar commented on #19
I used UkraineOblastLsib2016Aug9. Thanks.

[2018-11-06 17:58] gsarfaty commented on #19
Great, thank you, @kzhanar

[2018-11-06 17:58] #19 closed, assigned to kzhanar

[2018-11-06 18:36] gsarfaty commented on #18
Completed using: Uganda_PROD_5_District_DistrictLsib_2018_Mar

[2018-11-06 18:36] #18 closed, assigned to gsarfaty

[2018-11-06 19:02] gsarfaty commented on #9
KenyaCountyLsibSept2016

[2018-11-06 19:02] #9 closed, assigned to gsarfaty

[2018-11-06 20:00] abeagedew opened #25 "Facility by Period analysis"
Create an output to show the facilities by OU that are reporting data across all reporting periods

[2018-11-06 20:00] abeagedew commented on #25
Output posted here:  https://www.pepfar.net/OGAC-HQ/icpi/Products/ICPI%20Data%20Store/MER/DAQ%20data%20requests/20181106_facilityByPeriod.zip

[2018-11-07 20:09] NateHeard commented on #17
Used Tanzania_PROD_5_District_DistrictLsib_2018_Nov.

[2018-11-07 20:09] #17 closed, assigned to NateHeard

[2018-11-07 20:09] NateHeard commented on #17
Updated shp loaded to AGOL.

[2018-11-09 14:19] gsarfaty opened #26 "Spatial Data Creation & Data Management Webinar"
Webinar idea/request from exchange w/TZ team about the updates to their district council shp - team is strong on spatial analytics but would appreciate help to strengthen their spatial data creation & data management skills.

[2018-11-09 14:32] gsarfaty opened #27 "Pano Dossier Feedback and Tracking of Visual Crossing Implementation"
Assignees provided feedback to data strong on the dossier soft launch on 10/31.

GS feedback here focuses primarily on the geospatial aspects:

Overall, it's great to have more flexibility and control over the dashboards. Though the drawback, is that the multitude of options may overwhelm our more entry-level data users. Even for those on the data savvy end of the spectrum, learning how to configu

[2018-11-09 14:44] gsarfaty opened #28 "ECT IV Request for Visuals of Prioritization & Survey Data (prev & PSEs)"
Cross-post and update to [ICPI/Engagements Issue 36](https://github.com/ICPI/Engagements/issues/36)

Travis on behalf of ECT IV requested same visuals for Vietnam & Ukraine; These were made as part of COP standard set and were thus shared back to the requestor rapidly by @kzhanar

[2018-11-09 14:44] #28 closed, assigned to kzhanar

[2018-11-09 14:48] gsarfaty opened #29 "Update AGOL instructions for PEPFAR_ALL access"
@ICPI/gis - @dp1984 used to help facilitate the CDC AGOL discussions and left these instructions:
https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Geospatial%20Data/Archived%20Workstream%20Documents/Training/CDC-PEPFAR%20ArcGIS%20Online%20(AGOL)%20Instruction%20%26%20Orientation.pptx

DP says these are now out of date. We should get them updated and posted to the wiki to facilitate

[2018-11-09 15:54] NateHeard commented on #1
@gsarfaty

QGIS 3.4.1 'Madeira' also returns an error, possibly more informative than 2.18:

Checking for anomalies...
Saving results...
Traceback (most recent call last):
File "C:/Users/nate_/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\squad-plugin-qgis3\squad_tool_algorithm.py", line 243, in processAlgorithm
analysis.execute(context, feedback)
File "C:/Users/nate_/AppData/Roaming/

[2018-11-09 16:36] gsarfaty commented on #24
@kzhanar drafting message to Ukraine for a call; @gsarfaty finding in country names to be on message, representative of all agencies;

@jltobias and @NateHeard to be in CC.

[2018-11-09 16:52] gsarfaty opened #30 "Geography Awareness Week & GIS Day listserv forum"
Team (@ICPI/gis) to brainstorm ideas/questions for the active forum on this ticket.

[2018-11-09 16:54] gsarfaty opened #31 "ICPI Product Dictionary Contributions"
Team (@ICPI/gis) to discuss what to add to ICPI product dictionary on this thread by Nov. 30th

[2018-11-09 18:49] gsarfaty commented on #3
Finished with ArcGIS using Cameroon_HealthDistricts12012016

[2018-11-09 18:49] #3 closed, assigned to gsarfaty, NateHeard

[2018-11-09 19:08] gsarfaty commented on #4
Used CotedIvoireHealthDistrictsLsib2016Dec

[2018-11-09 19:08] #4 closed, assigned to gsarfaty

[2018-11-09 19:20] NateHeard commented on #1
Identified and corrected topology errors. Fixed topology errors and received the same SQUAD error. Problem might not be related to topology.

[2018-11-09 19:22] gsarfaty commented on #7
Finished in ArcGIS using Ethiopia_PROD_6_Woreda_WoredaLsib_2017_Dec.shp

[2018-11-09 19:22] #7 closed, assigned to gsarfaty, NateHeard

[2018-11-09 19:23] gsarfaty commented on #1
Thanks for checking 3.0 and topology. The more detailed log above might help them resolve the issue.

[2018-11-09 19:42] gsarfaty commented on #11
Finished in ArcGIS using MalawiDistrictLsib2016July.shp

[2018-11-09 19:42] #11 closed, assigned to gsarfaty, NateHeard

[2018-11-09 20:14] gsarfaty commented on #24
In country contacts should include:
Bob, PEPFAR Coordinator's Office:
Anya, USAID
Lyudmyla, CDC

[2018-11-09 20:36] gsarfaty commented on #13
Finished in ArcGIS using NamibiaHealthDistrictsLsib2016Dec.shp

[2018-11-09 20:36] #13 closed, assigned to gsarfaty, NateHeard

[2018-11-09 21:36] gsarfaty commented on #24
Zhanar sent email to interagency contacts listed above on 11/9 to request a call to discuss scope of the team's request in the 6 month TA plan.  Got an out of office from Bob until Nov. 26th.

@kkale25, for your awareness only. No action needed.

[2018-11-09 21:55] gsarfaty commented on #20
Completed in ArcGIS using Vietnam_PROD_4_Province_ProvinceLsib_2016_Dec

[2018-11-09 21:55] #20 closed, assigned to gsarfaty, kzhanar

[2018-11-09 21:56] gsarfaty commented on #16
@abrahamagedewICPI since there are no reported bugs on this one, will you be completing it, or do you need me to pick it up?

[2018-11-09 22:19] gsarfaty commented on #1
Completed in ArcGIS using Botswana_PROD_5_District_HealthDistrictLsib_2018_Nov

[2018-11-09 22:19] #1 closed, assigned to NateHeard

[2018-11-09 22:42] gsarfaty commented on #22
Completed using Zambia_PROD_5_District_DistrictLsib_2017_Jan

[2018-11-09 22:42] #22 closed, assigned to gsarfaty

[2018-11-09 22:49] gsarfaty commented on #23
Completed in ArcGIS using Used ZimbabweDistrictLsib2016Sept

[2018-11-09 22:49] #23 closed, assigned to gsarfaty, NateHeard

[2018-11-13 12:28] gsarfaty commented on #30
Based on the suggestion at Friday's call to seed some responses, @NateHeard wrote to a few field colleagues. Email will be sent to the broader listserv today. Request to coordinate on a draft message to the list so field understands the GIS team is part of the activity and is working to cultivate the community of practice.

[2018-11-13 13:02] gsarfaty opened #32 "Coordinate completeness & quality report"
Need to package coordinate checks into useful outputs.

[2018-11-13 14:19] abeagedew commented on #16
@gsarfaty, I will be completing this, I will let you know if I have any questions. Thank you.

[2018-11-13 14:33] NateHeard commented on #32
This is a fabulous draft. I think we might frame anomaly two a little more strongly. "Truncated coordinates" could be phrased as lack of precision. "Lacks precision"? I need to learn how to make a floaty filter button. How did you decide what's "hot"? It's challenging because these errors aren't on a straightforward continuum. No coordinates and beyond 2km are almost equivalent but almost worse.

[2018-11-13 14:40] NateHeard commented on #32
The only other useful filter I can think of is prioritization. In an OU like Bots, country teams likely memorize district prioritization. It would be a more useful filter for OUs with many more PSNUs.

[2018-11-13 17:28] kzhanar commented on #31
Some ideas for the dictionary:
DREAMS Story Map
AGOL GIS data repositories
a folder with sample and recent COP GIS maps on pepfariii.net

[2018-11-13 17:36] gsarfaty commented on #30
@NateHeard drafted a great message and sent to the list 11/13. We will monitor and prompt for contributions as needed.

[2018-11-13 17:36] #30 closed, assigned to nobody

[2018-11-13 17:37] gsarfaty commented on #29
@jltobias reached out to Brian Kaplan for updates to this documentation 11/13. Awaiting his reply.

[2018-11-13 18:02] gsarfaty commented on #29
Jenny in TZ notes this is the link for login for her: https://cdcarcgis.maps.arcgis.com/home/index.html

Existing instructions point to: https://www.arcgis.com

[2018-11-13 18:02] gsarfaty commented on #26
Potential dates per TZ team: late in the week of Dec 3rd or better the following week of Dec 10th.

[2018-11-14 19:15] abeagedew commented on #16
district shapefile used : SouthAfrica_PROD_5_District_DistrictLsib_2016_July

[2018-11-14 19:24] abeagedew commented on #16
Completed

[2018-11-14 19:24] #16 closed, assigned to abeagedew

[2018-11-15 14:56] gsarfaty commented on #26
Potential ideas:
- [ ] checking topology and fixing topology errors
- [ ] national level boundary editing (ex. matching to LSIB)
- [ ] subnational unit boundary editing (ex. creating boundaries to match a reference source).
- [ ] folder & file management best practices

thoughts, @NateHeard ?

[2018-11-15 16:51] gsarfaty commented on #26
TZ's POART call is Thurs, 12/13 so they may want the days preceding it left open for POART preparation.

Wonder if the following week is too close to winter holidays? I think we should propose a few date/time options each of those weeks to see what they prefer.

[2018-11-15 19:24] NateHeard commented on #26
Might float the 11th or 13th for dates. Ultimately flexible this far out. Content could include:

- Spatial Data Lifecycle (brief document overview)
- AGOL
- Polygon completeness report
- How to manage/improve polygon data (country team - HQ relationship for updating DATIM)
- Facility level data report
- SQUAD (live demo?)
- How to manage/improve point data (prioritizing direct survey and updates

[2018-11-23 14:48] gsarfaty commented on #32
Draft is in the [Spatial Data Mgmt folder>November ](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FSpatial%20Data%20Management%2FNovember%20Facility%20Coordinate%20Audit&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166

[2018-11-23 14:48] gsarfaty commented on #26
Scheduled for Mon. 12/17; Agenda to be sent to team for review and feedback week of 11/26

[2018-11-23 14:51] gsarfaty opened #33 "WWCA POART prep"
Awaiting epi and other data from WWCA countries for their POART; eventually hierarchy to go into DATIM.

[2018-11-23 17:20] gsarfaty commented on #29
Jim reached out to Brian Kaplan as new POC; he's working on updates; will upload instructions to pepfar.net once complete

[2018-11-23 17:29] gsarfaty opened #34 "PEPFAR Geospatial Examples"
Deck of examples curated by DP before he left can be used as basis for socializing geospatial analytics across the program.

[2018-11-28 19:45] gsarfaty commented on #25
Hi, @abrahamagedewICPI: can you re-run now that Q4 data entry is closed and add facility prioritization??

cc @NateHeard

[2018-11-29 18:43] NateHeard commented on #26
This is more than one hour of material.

**Draft agenda**
_Spatial Data Lifecycle (brief document overview)_
_Administrative unit (polygons)_
- checking topology and fixing topology errors
- national level boundary editing (ex. matching to LSIB)
- subnational unit boundary editing (ex. creating boundaries to match a reference source; country team - HQ relationship for updating DATIM)
- Polygon com

[2018-12-04 19:50] gsarfaty commented on #24
@kzhanar, @jltobias, @NateHeard - I have not seen anything come through from Bob now that the date from his out of office has passed, have you?

[2018-12-06 14:14] jltobias commented on #24
I have not received anything from Bob.

[2018-12-13 20:08] NateHeard commented on #33
Provided WWCA Team with region-level maps of subnational prevalence (general, male, female) gathered from most recent DHS surveys. Also provided district level VLS suppression map of Ghana.

[2018-12-13 20:08] #33 closed, assigned to nobody

[2018-12-27 17:33] gsarfaty commented on #26
Email was sent to TZ SI iSMEs, PPM, & Agency leads in advance for awareness.

Webinar was held 12/18.

AGENDA:
Spatial Data Lifecycle (very brief document overview)
Administrative unit (polygons)
checking topology and fixing topology errors
national level boundary editing (ex. matching to LSIB)
subnational unit boundary editing (ex. creating boundaries to match a reference source; country team - H

[2018-12-27 17:37] gsarfaty commented on #29
Instructions are now up to date. They can be found [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Geospatial%20Data/Projects/Community%20of%20Pratice/Wiki/CDC-PEPFAR%20ArcGIS%20Online%20(AGOL)%20Instruction%20%20Orientation%20(2018Dec3).pptx), and on the [spatial data management page](https://github.com/ICPI/GIS/wiki/PEPFAR-Spatial-Data-Management) of the wiki

[2018-12-27 17:37] #29 closed, assigned to gsarfaty

[2019-01-04 22:59] gsarfaty commented on #24
We did not get a response from the Ukraine team after our previous outreach. Therefore, Zhanar reached out again today to see if TA is still needed, but got an out of office from Bob until 1/8.

FYI -@kkale25 @jb3436

[2019-01-09 13:21] gsarfaty commented on #24
Bob replied 1/8 saying he would huddle w/the Ukraine team and get back to us on whether this is a current need.

[2019-01-09 14:35] jb3436 commented on #24
@gsarfaty Thank you!

[2019-02-20 12:26] gsarfaty commented on #24
Bob replied 1/28 w/outline of current needs. Zhanar replied same day to ask for call w/the Ukraine team. Call has been scheduled, then rescheduled a few times (due to conflicts that came up on the Ukraine side) with current plan to chat on 2/22. @jb3436 @kkale25

[2019-02-20 12:27] gsarfaty commented on #32
Reports packaged and sent by @NateHeard

[2019-02-20 12:27] #32 closed, assigned to gsarfaty, NateHeard, abeagedew, jltobias

[2019-02-20 12:27] gsarfaty commented on #25
Nate pulled this and updated so this is no longer needed.

[2019-02-20 12:27] #25 closed, assigned to abeagedew

[2019-02-20 13:18] gsarfaty commented on #27
Recent exploration of VC & TA to other teams done by @imujawar. Per previous notes and emails, quick chatter and troubleshooting convos can be addressed via the existing #analytic-workspaces Slack channel. Curated content (tutorials, tips & tricks, considerations, etc.) will be housed on the GIS Wiki linked from the existing software and tools page: https://github.com/ICPI/GIS/wiki/Software-&-Tool

[2019-02-20 21:41] NateHeard opened #35 "South Sudan Partner Mapping"
The South Sudan PPM forwarded a request for the following maps. Sudhir Bunga will be the OU POC for this project.

Requesting for the following combination of maps:

1. Plotting or color coding County by the IM (implementing NGO partners)
2. Plotting or color coding State by IM
3. Mapping the locations of all the Facilities (Facility column) on the map on both #1 and 2 above.
a.      One map with

[2019-02-22 14:55] NateHeard opened #36 "FBO Initiative reference map"
FBO Initiative has requested a reference map that depicts which countries are participating in the initiative. This map is due by COB 2/22.

[2019-02-22 17:19] gsarfaty commented on #24
**Background:**
- Team initially interested in learning how to use DATIM's GIS module in order to take advantage of Ukraine’s recently added SNU layer of Rayon, and the addition of GPS coordinates for all 1,200+ healthcare facilities in the 12 PEPFAR-supported regions; for each facility, we have English as well as Ukrainian names and addresses, as well as short versions of the facility names in En

[2019-02-22 22:26] NateHeard commented on #36
Delivered.

[2019-02-22 22:26] #36 closed, assigned to NateHeard

[2019-02-26 15:13] gsarfaty opened #37 "Add geospatial data stream slides to Data Systems, Streams and Lifecycle presentation for the ICPI Onboarding training"
Contirubted geospatial data slides to Data Systems, Streams and Lifecycle presentation for the ICPI Onboarding training occurring Feb. 28-29th.

The [presentation can be found on PEPFAR Sharepoint](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Trainings/ICPI%20Interagency%20Onboarding%20Training%20(Feb%202019)/PEFPAR%20Data%20Systems%20and%20Lifecycles%2020190228.pdf) and the rest of the

[2019-02-26 15:14] #37 closed, assigned to gsarfaty, NateHeard

[2019-02-26 15:14] gsarfaty commented on #37
FYI @ICPI/gis

[2019-02-28 16:25] gsarfaty commented on #35
Last year's reference materials

**RPMs:**
GitHub - Ticket - [Male Testing & ART Coverage](https://github.com/ICPI/COP18/issues/5)
SharePoint - [Outputs](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FCOP%20Support%2FCOP18%2FSupport%20Requests%20and%20Tracker%2FGIS%2FSouth%20Sudan&FolderCTID=0x012000C815322C717A7E4B816

[2019-02-28 16:27] gsarfaty commented on #35
Adding @imujawar who can also support.

[2019-03-01 16:38] gsarfaty commented on #27
@imujawar to get in touch w/Nicole C re: linked map filtering so we can get documentation together that shows how to set this up and add to pepfar.net and link to it from Wiki.

[2019-03-06 15:25] NateHeard opened #38 "Ethiopia coordinate update and zone-level polygon assessment"
The Ethiopia Team has provided a large set of geographic coordinates for loading to DATIM. Prior to loading, we ran SQUAD at the zone level. Systematic anomaly 6s indicate an issue with the underlying polygons. We are working with the team to identify necessary updates to the zone polygons. This ticket tracks:

- [x] Woreda level updates
- [x] Zone level updates
- [x] SQUAD run on new coordinates

[2019-03-08 01:03] gsarfaty opened #39 "Burundi: PLHIV & ART Coverage - COP19"
Team needed plhiv & art coverage by peds, adult males, adult females.

Datasets extracted from data pack for the above mentioned populations. Code for extracting from DP and creating these is [here](https://github.com/gsarfaty/Projects/blob/master/COP19/Burundi_DP_PLHIV_ArtCoverage.R).

Outputs [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%

[2019-03-08 01:04] #39 closed, assigned to gsarfaty

[2019-03-08 01:08] gsarfaty opened #40 "Burundi: Update Commune & Province Level Shapefiles"
As part of/follow up to #39:

PEPFAR Burundi Provincial shapefile, BurundiProvinceLsib2016May, is missing Rumonge Province. I created an updated provincial file for Burundi by assigning the following communes to Romonge Province:

Buyengero
Bugarama
Rumonge
Burambi
Muhuta

After assigning these to Romonge in the commune level shapefile, I dissolved on province name to create the updated provincial

[2019-03-08 01:10] gsarfaty commented on #40
Need to:
- [x] add hierarchy to provincial shp & upload to AGOL
- [ ] check commune file and make any additional needed updates to UIDs, remove old hierarchy & add new, then upload to AGOL.

[2019-03-08 01:16] gsarfaty opened #41 "South Sudan: COP19 Mtg Needs"
S Sudan team request:
1. PLHIV COP 18/FY19
2. PLHIV COP19/FY20
3. Priority Counties - COP19/FY20
4. Testing Volume & Positivity, FY18 overlaid w/ PLHIV, COP18

[2019-03-08 01:17] gsarfaty commented on #41
Outputs are [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FAd%20Hoc%2FCOP19%2FSouth%20Sudan&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2-E166-4122-B8B4-7BEB9E1BC12B%7D).

[2019-03-08 01:17] #41 closed, assigned to gsarfaty

[2019-03-08 01:30] gsarfaty commented on #24
PAWs demo was scheduled for 3/15 but Ukraine team asked to reschedule for last week of March or first week of April.

[2019-03-08 17:33] gsarfaty commented on #35
Zhanar & Imran sent drafts to the S. Sudan team today:
interactive version
static version
Uploaded to [COP19>South Sudan folder](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FAd%20Hoc%2FCOP19%2FSouth%20Sudan&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347

[2019-03-14 12:11] NateHeard opened #42 "Angola: WorldPop with province boundaries and names"
Country team has requested WorldPop data overlayed with province names and boundaries for their Joburg slide deck.

[2019-03-14 19:18] NateHeard commented on #42
Through iterative consultation with OU-support team, we arrived at a national-level extent with Landscan  population density and an province-level overlay of PLHIV shown as proportional symbols.

[2019-03-14 19:18] #42 closed, assigned to NateHeard

[2019-03-16 19:23] gsarfaty opened #43 "Eswatini | Errant Coordinates - entered in wrong format"
18 facilities in Eswatini have coordinates entered in a format other than DD.

[2019-03-16 20:18] gsarfaty commented on #40
New provincial file has been uploaded as pepfaradmin & shared to PEPFAR_ALL. The former provincial feature layer and shapefile have been marked as deprecated.

Updates to commune file on hold as there are 18 with the name "TBD Commune."

[2019-03-16 20:23] gsarfaty commented on #24
Demo rescheduled for Tuesday, April 2nd, 8am-9am EST

[2019-03-21 08:11] gsarfaty opened #44 "Nigeria | Mapping urban footprint against facility tx_curr & tst_pos"
Initial request - map 8 high vol tx_curr & tst_pos sites in 2 states. Nate delivered.

Revised request - want to see curr and pos for all sites, not just the 8 and want to see which sites are urban v. rural.

Gina prepped data, Nate added to existing layout and delivered to team.

[2019-03-21 14:05] NateHeard opened #45 "Rwanda : SDS PLHIV, ART coverage, and VL coverage maps"
Rwanda team has requested assistance in the creation of maps for their SDS as shown in Figure 2.4.1 of guidance.

[2019-03-21 14:06] NateHeard commented on #45
Team has provided data for a province-level map.

[2019-03-22 12:51] NateHeard commented on #45
Finished. PEPFAR coordinator received and approved.

[2019-03-22 12:51] #45 closed, assigned to NateHeard

[2019-03-22 16:08] NateHeard commented on #44
Additional revisions provided 3/21. Nigeria team has delivered its outbrief. Ticket closed.

[2019-03-22 16:08] #44 closed, assigned to gsarfaty, NateHeard

[2019-03-28 21:19] gsarfaty commented on #34
Per chat 3/28 - GIS team to update former deck to include recent RPM slides, particularly the exemplary outputs from the Uganda team.

[2019-03-29 16:50] gsarfaty commented on #34
I started a new deck for COP19 [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FWorking%20Folder%2FGeospatial%20Community%20of%20Practice%2FMenu%20of%20Ex%20%20%26%20Wiki%20Resources&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B

[2019-03-29 17:06] gsarfaty opened #46 "Spatial Data Request: ZM, NG, KN for Infection Control ST3"
Gina will gather lat/long and send to Nate for review for any necessary redactions.

[2019-03-29 17:40] gsarfaty commented on #27
Nicole shared her documentation. It has been uploaded [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FGeospatial%20Data%2FProjects%2FRoutine%20Analytics%20%26%20System%20Development%2FDATIM%20and%20Panorama&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94

[2019-03-30 16:47] gsarfaty commented on #46
coordinates pulled and prepped. sent to @NateHeard for redaction, as needed.

[2019-04-02 16:13] gsarfaty commented on #46
8 mil sites removed from Zim, then data were packaged as CSV & shp and sent to requestors.

[2019-04-02 16:13] #46 closed, assigned to gsarfaty, NateHeard

[2019-04-03 00:31] gsarfaty commented on #35
Feedback received 4/2:
“Although we could not use them during the COP consultations week, that ended 8 March, we have used the maps since, for our COP SDS drafting and will tremendously benefit in our presentations during the current implementation year.

Thank you very much. Can you possibly share the GIS shapefile of admin boundaries, [redacted], PEPFAR  South Sudan LES staff, in our team would

[2019-04-03 00:31] #35 closed, assigned to kzhanar, imujawar

[2019-04-03 00:44] gsarfaty commented on #24
Intro to analytic workspaces given by Alice and team today, 4/2. Ukraine team will begin working in their dedicated space to gain familiarity with manipulating data. Alice and GIS team will schedule follow up/second meeting that hones in on mapping.

[2019-04-23 14:41] NateHeard opened #47 "Côte d'Ivoire Health District Polygon Update"
Côte d'Ivoire has expanded its number of health districts from 82 to 86. This issue tracks the addition of uids to the newly acquired shapefile as well as file topology review and edits, and the loading of the map to DATIM.

[2019-04-26 14:16] gsarfaty commented on #43
We may wish to convert the coordinates in question:
https://www.pgc.umn.edu/apps/convert/

Gina & Nate to discuss coordinate pulls.

[2019-05-01 18:24] NateHeard opened #48 "Cameroon COP19 map"
The Cameroon PPM has requested a map showing newly prioritized health facility locations. The country team provided a spreadsheet with 305 sites. We'll first evaluate the quality and completeness of available geographic coordinates and then deliver a basic map that shows the footprint of the identified health facility infrastructure.

[2019-05-28 16:11] NateHeard commented on #43
The 19 facilities with incorrectly formatted geographic coordinates now have empty latitude and longitude fields in DATIM. The country team should add coordinates in the correct format. However, this ticket may be closed.

[2019-05-28 16:11] #43 closed, assigned to NateHeard

[2019-06-21 14:45] jb3436 commented on #24
@kzhanar - kindly update the ticket here with some of the great updates you provided today during the GIS call on the support for the Ukraine TOT that you are currently doing.  I will then update the engagements ticket and close it out.

[2019-06-21 15:14] kzhanar commented on #24
We fulfilled this request by coordinating virtual trainings on GIS portion on PAWs by Visual Crossing. The virtual trainings were provided on April 2 and May 29 by Alice Wang. Also, Lyudmyla Dobrovolska is on reverse TDY to CDC HQ and will take in-person GIS trainings by Zhanar and Jim to share her skills with her colleagues in Ukraine.  The Ukraine team is no longer in need of TDY.

[2019-06-21 15:14] #24 closed, assigned to gsarfaty, kzhanar, NateHeard, jltobias

[2019-07-05 20:17] NateHeard opened #49 "Uganda district update"
Uganda has added districts since the March 2018 shapefile update. New districts include Kwania, Bugweri, Kapelebyong, Kikuube, and Sembabule. I will verify updates with the country team and propose using boundaries in the UBOS file found here: https://data.humdata.org/dataset/uganda-administrative-boundaries-as-of-17-08-2018

[2019-07-11 12:40] NateHeard commented on #49
The Uganda district file is now updated and loaded to ArcGIS Online. It will appear in the new Panorama map file, which is set for delivery to the Panorama Team on 7/12. DATIM gml/geoJSON import remains an issue.

[2019-07-11 13:24] NateHeard commented on #47
New districts added and uids updated in attribute table. File is loaded to ArcGIS Online and will be included in the Panorama base map to be submitted to the Panorama team on 7/12.

[2019-07-11 13:24] #47 closed, assigned to NateHeard

[2019-07-11 14:30] NateHeard commented on #48
The file provided by the country team lacked uids. Lack of standard spelling between the list and DATIM output prevented a clean text join. For example:
•	HÃ´pital RÃ©gional EdÃ©a v. Hôpital Régional Edéa
•	Apostolic Hospital Banga Bakundu v. Banga Bakundu Appostolic Hospital
Manual join identified matches for all but eleven sites. A little under half of site lacked coordinates. There was one like

[2019-07-11 14:30] #48 closed, assigned to NateHeard

[2019-07-17 10:26] gsarfaty opened #50 "Review and update GIS workplan"
@ICPI/gis

[2019-07-17 10:26] gsarfaty opened #51 "Review & update team fact sheet"
@ICPI/gis

[2019-07-22 18:40] NateHeard opened #52 "PEPFAR reference map for Brazil"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Brazil from the DATIM-Data-Import-and-Exchange-Resources page.
2. Western Hemisphere Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:WH
3. Identify lowest administrative unit level

[2019-07-22 18:43] NateHeard opened #53 "PEPFAR reference map for Burkina Faso"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Burkina Faso from the DATIM-Data-Import-and-Exchange-Resources page.
2. West Africa Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:WA
3. Identify lowest administrative unit level i

[2019-07-22 19:04] NateHeard opened #54 "PEPFAR reference map for Nepal"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Nepal from the DATIM-Data-Import-and-Exchange-Resources page.
2. Asia Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:AA
3. Identify lowest administrative unit level in the hierarch

[2019-07-22 19:24] NateHeard opened #55 "PEPFAR reference map for Liberia"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Liberia from the DATIM-Data-Import-and-Exchange-Resources page. West Africa Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:WA
2. Identify lowest administrative unit level in the hi

[2019-07-22 19:36] NateHeard opened #56 "PEPFAR reference map for Mali"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Mali from the DATIM-Data-Import-and-Exchange-Resources page. West Africa Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:WA
2. Identify lowest administrative unit level in the hiera

[2019-07-22 19:37] NateHeard opened #57 "PEPFAR reference map for Senegal"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Senegal from the DATIM-Data-Import-and-Exchange-Resources page. West Africa Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:WA
2. Identify lowest administrative unit level in the hi

[2019-07-22 19:38] NateHeard opened #58 "PEPFAR reference map for Sierra Leone"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Sierra Leone from the DATIM-Data-Import-and-Exchange-Resources page. West Africa Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:WA
2. Identify lowest administrative unit level in t

[2019-07-22 19:39] NateHeard opened #59 "PEPFAR reference map for Togo"
The introduction of new countries to the DATIM and the COP Planning process requires the development of new maps for use in DATIM, Panorama, and ad hoc analysis.

1. Obtain DATIM OU hierarchy for Togo from the DATIM-Data-Import-and-Exchange-Resources page. West Africa Region: https://www.datim.org/api/sqlViews/qyp2aXRK52d/data.csv?var=OU:WA
2. Identify lowest administrative unit level in the hiera

[2019-08-01 13:55] NateHeard commented on #38
I’ve added 49 woreda to the draft map. The two I didn’t add are Bole Woreda 14 and Nefas Silk-Lafto Woreda 12.

**Sketch 46 and Sketch 47**
Bole Woreda 14 and Nefas Silk-Lafto Woreda 12 already exist in DATIM. There is a Bole Woreda 15 in DATIM but not in the map. Is the hand drawn woreda actually Bole Woreda 15? Similarly there is a Nefas Silk-Lafto Woreda 13 in DATIM but not in the map. Should t

[2019-08-07 18:35] NateHeard opened #60 "Zambia district update"
Imperial College has identified five districts in Spectrum list and MER, not in shape file:

- Luapula: Chifunabuli District [formerly Samfya district]
- Muchinga: Lavushi Manda District [formerly Mpika district]
- Northern: Lunte District [formerly Mporokoso District]
- NorthWestern: Kalumbila District [formerly Solwezi district]
- NorthWestern: Mushindano District [formerly Solwezi district]

[2019-08-09 13:04] NateHeard commented on #38
Penultimate drafts of both woreda and zones are with the country team for their review.

[2019-08-12 15:38] NateHeard commented on #60
Chifunabuli and Lunte Districts appear to be promoted constituencies. We can use old constituency boundaries to mark the new districts. We do not know how to demarcate the other three districts. I've reached out the the Zambia DATIM site administrators to see if they have guidance.

[2019-08-27 19:37] NateHeard opened #61 "Nigeria polygon completeness review"
**Level 5**
im Ezinihitte and im Ngor Okpala have duplicates. The shapefile uid reference the LGA that has  facilities underneath it. One LGA, yo Damagum, has no match in the shapefile.

**Level 4**
Several non state entities exist at the state level. Will reach out to country team to confirm reason for placing organizations at this level.

- African Society for Laboratory Medicine (ASLM)
- AIDS P

[2019-08-28 15:24] NateHeard commented on #61
The updated map is loaded to AGOL and DATIM. It has been sent to the Nigeria Team DATIM site administrators and will be part of the next updated to Panorama.

[2019-08-28 15:24] #61 closed, assigned to NateHeard

[2019-08-28 17:31] NateHeard commented on #38
Zone and woreda updates are compete and loaded to AGOL and DATIM.

[2019-09-03 14:25] NateHeard opened #62 "Asia Regional Program polygon completeness review"
This issue tracks the review and update of the Asia Regional Program map. Thailand and Laos lack geometry for several units at level 5. Many units are missing geometry at level 6.

1. Download the most up-to-date shapefiles for the OU from AGOL.
2. Review DATIM polygon_datim_global and identify units that lack geometry.  See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Pro

[2019-09-03 14:30] NateHeard opened #63 "Mozambique polygon completeness review"
This issue tracks the review and update of the Mozambique map.

1. Download the most up-to-date shapefiles for the OU from AGOL.
2. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Projects > Spatial Data Management > polygon_daitm_global.
3. Add uid to the attribute table where possible.
4. In the ca

[2019-09-03 14:37] jltobias commented on #63
Thanks Nate--- I will work on this for Mozambique and send to you and to Gina. - Jim

[2019-09-03 15:05] NateHeard commented on #60
With assistance from UNAIDS, new districts were drawn and the resulting shapefile, Zambia_PROD_5_District_DistrictLsib_2019_Sep, matches DATIM. Four districts in Zambia are not in DATIM and include Kasenengwa District and Lusangazi District.

[2019-09-03 15:13] NateHeard opened #64 "Burma polygon completeness review"
This issue tracks the review and update of the Burma map.

1. Download the most up-to-date shapefiles for the OU from AGOL. The level 4 map is complete. The level 5 and level 6 maps are incomplete and were never loaded to DATIM.
2. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Projects > Spatial Da

[2019-09-03 15:22] NateHeard commented on #40
Burma is updated as best we can make it. Agree on level 6 hold given that TDB Communes are present across multiple provinces.

[2019-09-03 15:22] #40 closed, assigned to gsarfaty

[2019-09-03 15:39] NateHeard opened #65 "Cameroon polygon completeness review"
This issue tracks the review and update of the Cameroon map. Cameroon is missing a unit at level 5. There also appears to be a missing unit at level 4, although it could be an IP.

Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Projects > Spatial Data Management > polygon_datim_global.
Add uid to th

[2019-09-03 15:52] NateHeard opened #66 "Caribbean Region polygon completeness review"
This issue tracks the review and update of the Caribbean Region map. The Caribbean Region is missing units at level 5. Also, Caribbean Public Health Agency Laboratory is present at level 4 and perhaps belongs at the facility level.

1. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Projects > Spatia

[2019-09-03 17:19] jltobias commented on #63
Hi Nate and Gina:   My initial read on this is that the Mozambique Level 3 OU shapefile is fine (it has geometry and has uid and seems to be the standard polygon we expect).   The Mozambique Level 4 Province level shapefile seems fine too - except the name of the shapefile does not match the pattern of Level 3 & Level 5 (I was thinking to just save the Level 4 shapefile in the same naming conventi

[2019-09-03 17:29] NateHeard opened #67 "Central America Region polygon completeness review"
This issue tracks the review and update of the Central America Region map. Countries within the region vary in depth (Levels 6 or 7).

1. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Projects > Spatial Data Management > polygon_daitm_global.
2. Add uid to the attribute table where possible.
3. In

[2019-09-03 18:38] NateHeard commented on #63
Can you explore whether any official changes to Mozambique's districts could account for the eleven units? Are there any district maps in the usual repositories that contain any of these eleven districts? We should also see if there is a level below the district for which there may be maps. Sometimes administrative units are created at the wrong level (e.g. a ward could appear at the district leve

[2019-09-03 18:40] NateHeard opened #68 "Dominican Republic polygon completeness review"
This issue tracks the review and update of the Dominican Republic map. Level 6 is unmapped. There are matches for each unit in the municipal file located here: https://data.humdata.org/dataset/dominican-republic-administrative-boundaries-levels-0-6

1. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data >

[2019-09-03 18:45] jltobias commented on #63
Hi Nate:   Thank you.  I will explore on Statoids and see if official changes could help explain.  Also -- I found this set of files on HDX:  https://data.humdata.org/dataset/mozambique-administrative-levels-0-3  and noticed that they have a polygon for Cidade De Nampula.    I wonder about the potential to explore other sources for missing geometries and perhaps cite those sources ?   I can imagin

[2019-09-03 18:58] jltobias commented on #63
Hi Nate:  update to your point about recent changes in Mozambique districts.  The statoids site mentions that in 2013 --- 13 new districts were formed:
2013-03-21: Source [1] says that thirteen new districts were formed.
Indeed ---these seem to be the n=11 that I am seeing in the .tsv file with blank geometries.
The statoid site lists these n=13
    1 -   Province = Manica      District = Macate

[2019-09-03 19:07] jltobias commented on #63
I was initially excited about this NYU Mozambique District Shapefile from 2013:  https://geo.nyu.edu/catalog/stanford-vk927gs6011   but I'm not sure that it reflects the 13 new districts mentioned on the Statoids site.

[2019-09-03 19:08] NateHeard opened #69 "Haiti polygon completeness review"
This issue tracks the review and update of the Haiti map. Levels 5 and 6 have units in DATIM with no associated polygons. Sometimes a unit will appear to be a duplicate but is associated with different parents (e.g. Nord and Nord-Est). It's possible that only one is correct.

1. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Cl

[2019-09-03 19:11] jltobias commented on #63
It looks like the HDX moz_admbnda_adm2_ine_20190607.shp file contained in the  https://data.humdata.org/dataset/mozambique-administrative-levels-0-3  zipfile ---has some of the polygons and geometries that we may need....

[2019-09-03 19:20] NateHeard opened #70 "India polygon completeness review"
This issue tracks the review and update of the India map.

1. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Projects > Spatial Data Management > polygon_daitm_global.
2. Add uid to the attribute table where possible.
3. In the case of missing levels of geometry, identify possible matching shapefile

[2019-09-03 19:52] NateHeard opened #71 "Lesotho polygon completeness review"
This issue tracks the review and update of the Lesotho map. The map is complete at level 4. The current level 5 shapefile does not contain the correct number of units (78). The correct number of constituencies is present in this file: https://data.humdata.org/dataset/lesotho-administrative-level-0-2-boundaries

1. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR

[2019-09-03 20:05] NateHeard opened #72 "Namibia polygon completeness review"
This issue tracks the review and update of the Namibia map. There are two health districts in the shapefile that require a uid from DATIM.

[2019-09-06 16:15] NateHeard commented on #38
New SQUAD report at the zone level is now with the country team.

[2019-09-06 16:15] #38 closed, assigned to NateHeard

[2019-09-10 18:50] NateHeard opened #73 "Ukraine polygon completeness review"
Ukraine does not have a rayon-level map. This issue will explore whether it's possible to support one.

[2019-09-18 20:35] NateHeard opened #74 "South Sudan polygon completeness review"
This issue tracks the review and update of the South Sudan map. The map is complete at level 4. The county level (5) is missing geometry. Historically, the boma level (6) has been unmappable.

1. Review DATIM polygon_datim_global and identify units that lack geometry. See PEPFAR SharePoint: HQ > ICPI > General > Clusters > Geospatial Data > Projects > Spatial Data Management > polygon_daitm_global

[2019-09-19 19:23] NateHeard commented on #59
In DATIM, Lomé, which is a regional and capital city, is on the same geographic level as Maritime Region, within which Lomé is located. Reached out to the PPM for clarification. OU team indicates health regions and districts differ from standard hierarchy. Requested shapefile or jpg from team to help guide DATIM map creation.

[2019-09-24 19:50] NateHeard commented on #70
It was possible to add approximately 30 uid to the existing map. The update is now on AGOL.

[2019-09-24 19:50] #70 closed, assigned to NateHeard

[2019-09-26 14:50] NateHeard commented on #74
South Sudan county polygon is complete at level 5 and loaded to AGOL. It can be loaded to DATIM.

[2019-09-27 21:38] NateHeard commented on #74
In DATIM.

[2019-09-27 21:38] #74 closed, assigned to nobody

[2019-10-22 18:37] NateHeard commented on #56
Mali_DRAFT_6_Lsib_2019_Oct.shp is LSIB aligned. The file now requires uid.

[2019-10-22 18:38] NateHeard commented on #55
Liberia_DRAFT_6_Lsib_2019_Oct.shp is LSIB aligned. The file now requires uid.

[2019-11-05 13:27] NateHeard commented on #27
This issue bundled into https://github.com/ICPI/DIV/issues/157. Mapping Dossier handed over to datastrong for testing and roll out to PROD.

[2019-11-05 13:27] #27 closed, assigned to gsarfaty, NateHeard, imujawar

[2019-11-05 13:48] NateHeard commented on #60
Kasenengwa District and Lusangazi District are present in DATIM. Zambia_PROD_5_District_DistrictLsib_2019_Sep will be updated and uploaded to DATIM.

[2019-11-05 13:55] NateHeard commented on #49
Reopening. DATIM GML import now works and Uganda_PROD_5_District_DistrictLsib_2019_Jul should be loaded to DATIM. It is a perfect match for what is in DATIM. Note however, DATIM has 128 units and country has moved to 135.

[2019-11-12 15:03] NateHeard opened #75 "Zimbabwe district shapefile update"
DATIM will split Guruve into two districts i.e. Mbire and Guruve in line with MOH DHIS2 organizational hierarchy. DATIM will also divide Kadoma district into Sanyati District and Mhondoro District in line with MOH's DHIS2 organizational hierarchy. These two splits will subsequently bring their DATIM OU into alignment with what Zimbabwe MoH has provided UNAIDS, which is another objective from the T

[2019-11-12 18:52] NateHeard commented on #63
Reference file describes Rapale as Nampula. DATIM includes a Nampula and a Rapale, one of which may be a duplicate.

[2019-11-14 13:26] NateHeard commented on #63
Cidade De Nampula has been retired and is now Nampula. Former Nampula is now Rapale. Shapefile is updated, loaded to AGOL, and map is loaded in DATIM.

[2019-11-14 13:26] #63 closed, assigned to jltobias

[2019-11-14 14:29] NateHeard commented on #71
There does not appear to be any opportunity to improve the community council map. The current PROD shapefile does not have a match for missing DATIM units: Berea Urban Council, Lehlakaneng Community Council, Maseru Urban Council, Senekal Community Council, Ts'alemoleka Community Council.

[2019-11-14 14:36] NateHeard commented on #60
Updated in DATIM.

[2019-11-19 13:43] NateHeard opened #76 "Ethiopia zone and woreda update"
BACKGROUND

- Changes in administrative hierarchies that have recently been made in DATIM need to be reflected in our maps.
- These changes affect existing 41 woreda shape files as well as 3 zonal shape files
- The changes will result in  57 new woreda maps and 6 new zone maps (in addition to revision of previous 41 woredas and 3 zones)

IDENTIFYING WOREDA BORDERS USING KEBELE LEVEL INFORMATION

-

[2019-12-05 21:06] NateHeard commented on #76
Zone draft is complete and with the country team for review.

[2019-12-05 21:09] NateHeard commented on #75
Checked DATIM on 12/5. The new districts do not yet appear there. No map action at this time.

[2019-12-16 15:35] gsarfaty opened #77 "DREAMS SNU shapefile update"
DREAMS polygon was last updated Oct 2018 and has 102 units. DREAMS FY19Q4i MSD has 103 units.

[2019-12-16 16:15] gsarfaty commented on #77
Unit missing from the 2018 shp is Limpopo in Moz.

[2019-12-16 16:57] gsarfaty commented on #77
DREAMS_SNUs_Dec2019 uploaded to AGOL and shared with PEPFAR_ALL

[2019-12-16 16:57] #77 closed, assigned to gsarfaty

[2019-12-19 18:46] NateHeard commented on #72
Namibia health facilities are organized in the 36 district configuration with one exception. The facilities that should be present in Nkurenkuru are assigned to Rundu. As a result, the current update (Namibia_PROD_5_District_DistrictLsib_2019_Dec) has 35 units and does not include Nkurenkuru. File is on AGOL and needs upload to DATIM.

[2019-12-19 20:16] NateHeard commented on #69
Port-Salut on level 5 has been updated and needs to be loaded to DATIM. Baraderes may not be a district.

[2019-12-31 20:35] NateHeard commented on #69
Port-Salut version of level 5 is on AGOL and in DATIM.

[2019-12-31 20:39] NateHeard opened #78 "South Sudan MoH facility coordinate update"
The South Sudan Chair relayed a set of facility coordinates in support of a static map request. Thirty-two coordinates were new and are now loaded to DATIM.

[2019-12-31 20:39] #78 closed, assigned to NateHeard

[2020-01-13 19:02] CmdrKerfy commented on #53
HDX and GADM appear to have similar ADM3 names, with minor differences in topology.

The HDX data, from USAID/ITOS, is noted as being a previous boundary data iteration, so there's a chance borders will need to be updated in the future.

I'll default to using the ITOS data for the DATIM import.

[2020-01-14 15:17] NateHeard commented on #65
There are new demarcations in Cameroon. I'd thought that the main issue with CM boundaries was the addition of a new district (190). But this publication made me realize how different the new demarcations are: https://www.ncbi.nlm.nih.gov/pubmed/28838181/.

I've written PPM for contacts that could provide a shapefile version of the map shown here: https://www.dhis-minsante-cm.org/portal/

[2020-01-14 21:02] jltobias commented on #67
Dear all:   It seems like the Central America Region geometries relate to settlements at the sub-district level.   I have been trying to find candidate shapefiles for each country that has missing geometries at the level6 level.  I wonder about the potential to use GRUMP v1 Urban Extent Polygons:  https://sedac.ciesin.columbia.edu/data/set/grump-v1-urban-ext-polygons-rev01/data-download
I've been

[2020-01-15 15:28] NateHeard opened #79 "Tanzania: PEPFAR-MoH Alignment map"
This map will explore ways of presenting how aligned MoH and PEPFAR data are at subnational levels and will use TZ data.

[2020-01-16 16:46] CmdrKerfy commented on #54
**Data Source:** HDX -- Housing recovery and reconstruction platform (HRRP) - Nepal.

Government of Nepal data was also acquired but appears outdated and was not used.

[2020-01-16 16:48] CmdrKerfy commented on #56
**Data Source:** HDX -- OCHA Mali

[2020-01-16 19:32] CmdrKerfy commented on #56
**Data Issues:** Admin 1 (Regions) appear to be missing. DATIM begins at Admin 2 (Cercles) and ends with Admin 3 (Communes).

- *Yanfolia* is a Cercle (ADM2) within *Sikasso Region* (ADM1), but mistakenly listed as a communue (ADM3) within *Sikasso Cercle* (ADM2).
- *Selingue Commune* does not appear to exist at any admin level and may be referring to the artificial lake. No UID added.

[2020-01-16 19:49] CmdrKerfy commented on #55
**Data Source:** HDX - OCHA ROWCA

[2020-01-16 19:55] CmdrKerfy commented on #55
**Data Management:** Inconsistent Admin Levels. The three following names from DATIM could not be found. All three appear to be within the *Greater Monrovia* District that does not currently have a UID. They could be admin 3 (Clans), data we do not currently have access to.

- Bushrod -- likely Bushrod Island located on the west coastal side of Greater Monrovia.
- Somalia Drive -- A road that runs

[2020-01-16 20:23] NateHeard commented on #66
This update includes the addition of Guyana's Upper Takutu-Upper Essequibo and nine Suriname districts. Suriname's level 5 is a combination of districts and other geographic entities, including district capitals, a resort, an island, and a mining town. The mix does not appear to reflect a coherent official administrative level and omits the largest district in Suriname, Sipaliwini. The following s

[2020-01-16 20:54] NateHeard commented on #66
UID for Christ Church Parish was erroneously associated with St. John. Fixed in Caribbean_Region_PROD_5_Department_DepartmentLsib_2020_Jan

[2020-01-17 16:56] CmdrKerfy commented on #68
DATIM reported down to Level 6 (ADM3 - Municipalities). Missing *Esperanza* and *San Juan de la Maguana* in our dataset.

UIDs added for all other named municipalities.

Level 4 names (ADM1 - Regions) don't appear to match the HDX dataset's information. This may lead to region level maps becoming inconsistent with provincial and municipal level map products.

[2020-01-17 19:00] jltobias commented on #67
Update:  I did send a note to Dr. Jose Rodas and Dr. Sanny Northbrook from Central America region team.  Jose is planning to send some updated SNU shapefiles for Guatemala and potentially a file or two from Honduras.   Those may be a better match than HDX or HOTOSM shapefiles.

[2020-01-17 20:11] NateHeard commented on #66
Caribbean_Region_PROD_5_Department_DepartmentLsib_2020_Jan is now loaded to DATIM and AGOL. There is missing geometry at level 6. However, a search for matching shapefiles failed to produce sub district or sub parish layers.

[2020-01-17 20:11] #66 closed, assigned to NateHeard

[2020-01-22 16:41] NateHeard commented on #64
This file contains 74 districts, 51 of which have a match in DATIM. The file is loaded to DATIM and AGOL as Burma_PROD_5_District_District_2020_Jan.

[2020-01-22 16:41] #64 closed, assigned to kzhanar

[2020-01-22 17:18] CmdrKerfy commented on #56
**Data Issues:** On final check, it appears that duplicate names have caused issues with UIDs again. *Bamako Cercle* does not have a UID, but *Bamako Region* does. As such, the ADM2 *Bamako* will not be represented in the shapefile.

[2020-01-22 17:24] CmdrKerfy commented on #75
Still no districts on 1/22/20. Will check again next quarter.

[2020-01-22 17:24] NateHeard commented on #49
Loaded to DATIM. In AGOL as Uganda_PROD_5_District_DistrictLsib_2019_Nov.

[2020-01-22 17:45] CmdrKerfy commented on #68
*DominicanRepublic_PROD_6_MunicipalityLsib_2020_Jan* added to AGOL and GML sent to Nate for review and DATIM import.

[2020-01-22 17:57] CmdrKerfy commented on #54
*Nepal_PROD_4_ProvincesLsib_2020_Jan* and *Nepal_PROD_5_DistrictLsib_2020_Jan* both added to AGOL and GML files shared with Nate for DATIM import.

[2020-01-22 18:10] CmdrKerfy commented on #56
*Mali_PROD_6_CommunesLsib_2019_Oct*, *Mali_PROD_5_CerclesLsib_2019_Oct*, and *Mali_PROD_4_RegionsLsib_2019_Oct* have been added to AGOL. The accompanying GML files have been sent to Nate for DATIM import.

[2020-01-22 18:14] CmdrKerfy commented on #55
**Data Management:** On final check, there appears to be some programming in _Grand Cape Mount County_ (ADM1), but no UID exists at this time.

[2020-01-22 18:21] CmdrKerfy commented on #55
*Liberia_PROD_5_DistrictsLsib_2019_Oct* and *Liberia_PROD_4_CountiesLsib_2019_Oct* have been added to AGOL. Corresponding GML files have been sent to Nate for DATIM import.

[2020-01-22 20:06] CmdrKerfy commented on #53
**Data Source:** HDX - OCHA Burkia Faso - ITOS
https://data.humdata.org/dataset/angola-administrative-levels-0-3

[2020-01-22 21:38] NateHeard commented on #59
Global Polio administrative boundaries contains a match for level 5 and level 6. UID have been added to shp. Will reconcile to LSIB and load to DATIM and AGOL.

[2020-01-27 15:33] NateHeard commented on #55
Commonwealth (level 6), which is in Montserrado County in DATIM, shows up in a different county in the map source file (Grand Cape Mount). As @CmdrKerfy notes, Grand Cape Mount is not in DATIM.

[2020-01-27 15:53] NateHeard commented on #55
Liberia_PROD_5_DistrictsLsib_2019_Oct contains two uid that DATIM does not recognize: lS9bsIteVth and VWMo5ZsdoJl. They do not appear to be in the system.

[2020-01-27 17:15] NateHeard commented on #68
DominicanRepublic_PROD_6_MunicipalityLsib_2020_Jan uid error is now updated in AGOL. Layer is also present in DATIM and will be part of the next Visual Crossing update.

[2020-01-27 17:15] #68 closed, assigned to CmdrKerfy

[2020-01-27 17:38] CmdrKerfy commented on #53
**Data Notes:** None of the ADM2 (level5names) are actually provinces. The locations vary between cities and neighborhoods. There are no UIDs to match at this time for anything below Region level. See reference below:

| Name | Admin_Type | City | Province | Region |
| :------ | :------ | :------ | :------ | :------ |
| Baskuy | Arrondissement | Ouagadougou (National Capital) | Kadiogo | Centre |

[2020-01-27 18:06] CmdrKerfy commented on #53
Added to AGOL:

*BurkinaFaso_PROD_4_RegionsLsib_2020_Jan*
*BurkinaFaso_PROD_5_ProvincesLsib_2020_Jan*
*BurkinaFaso_PROD_6_DepartmentLsib_2020_Jan*

* GML file for PROD 4 Regions has been sent to Nate for review and DATIM import.

[2020-01-27 22:29] NateHeard commented on #62
AsiaRegionalProgram_PROD_5_RegionLsib_2020_Jan is now in DATIM and AGOL. The file contains contains 127 subnational units, 111 of which have a match in DATIM. Hierarchy changes require a review of how each OU of the former Asia Region program is currently aligned.

[2020-01-27 22:29] #62 closed, assigned to kzhanar

[2020-01-28 02:49] NateHeard commented on #54
Files successfully tested and then loaded to DATIM.

[2020-01-28 02:49] #54 closed, assigned to CmdrKerfy

[2020-01-28 21:00] NateHeard commented on #58
DATIM includes the national boundary at level 4, which @NateHeard will take care of in a WestAfricaRegion_PROD_4_CountryLsib_2020_Jan map. Below level 4 is a Sierra Leone Community TBD. There is no subnational Sierra Leone map to support at this time.

[2020-01-28 21:00] #58 closed, assigned to kzhanar

[2020-01-29 01:39] NateHeard commented on #53
BurkinaFaso_PROD_4_RegionsLsib_2020_Jan had been loaded to DATIM and is queued for inclusion into the next Panorama update.

[2020-01-29 01:39] #53 closed, assigned to CmdrKerfy

[2020-01-29 02:22] NateHeard commented on #56
bQjLesDl6Ob appears in both PROD_5 and PROD_6. If I read the hierarchy correctly, Level 4 should be the international border of Mali, which leaves a region (level 5) and commune (level 6) level below that. Then facilities.

[2020-01-30 19:46] NateHeard opened #80 "Rwanda Sector duplicate uids"
Review of sector level revealed duplicate uids.

[2020-02-04 13:37] NateHeard opened #81 "Burundi: New map to support recent org hierarchy change"
Systems has implemented a large org hierarchy change for Burundi as the team seeks to align its data structure to MoH. The map in DATIM and Panorama is now out of date in terms of completeness and overall structure.
![image](https://user-images.githubusercontent.com/13320367/73749497-83483480-4729-11ea-80c8-25ae4234790f.png)

[2020-02-04 15:21] NateHeard commented on #81
Standard administrative units are not a good match at the district level but the health district boundaries available here are nearly a perfect fit: http://polioboundaries-who.hub.arcgis.com/. The one exception is Bukinanyana, which is in DATIM at the district level. It is not present in the WHO map file. However, I've identified the unit in the standard district map and spliced it into the health

[2020-02-04 15:23] NateHeard commented on #81
Health districts available from WHO
![WhoHealthDistrict2020Jan](https://user-images.githubusercontent.com/13320367/73758111-3455cb80-4738-11ea-8909-48b36fcfc316.jpg)

[2020-02-04 15:28] NateHeard commented on #81
I cleaned up the coastline and many of the interior boundaries, which were quite simplified, aligning them to province boundaries, which offered more detail. This file include DATIM uid for all districts shown. ![PepfarHealthDistrict2020Jan](https://user-images.githubusercontent.com/13320367/73758250-6404d380-4738-11ea-9f04-ff638ad3343c.jpg) The next steps are to load the file to DATIM and then th

[2020-02-04 16:06] NateHeard commented on #81
Available shapefiles include 133 communes and 2,644 colline. I've been unable to identify a subdistrict file that is a good match for DATIM.

[2020-02-06 16:26] NateHeard opened #82 "Cote d'Ivoire health facility update"
Load IV MoH coordinates to DATIM

[2020-02-07 19:42] NateHeard commented on #81
Map is complete in DATIM at levels 4 (province) and 5 (health district). The layers have also been integrated into the Visual Crossing polygons.

[2020-02-07 19:42] #81 closed, assigned to NateHeard

[2020-02-07 19:43] NateHeard commented on #82
Complete. Also being integrated into new Visual Crossing point file.

[2020-02-07 19:43] #82 closed, assigned to NateHeard

[2020-02-13 06:49] gsarfaty opened #83 "Zambia - District move to different province"
Shibuyunji District is now under Central Province instead of Lusaka. Need to update hierarchy table in the district file and then punch out new provincial file. Hierarchy in DATIM has been revised Feb 2020 to reflect this change.

[2020-02-15 13:45] NateHeard commented on #69
UNAIDS Spectrum modelling includes a demarcation for Baraderes. I will edit the DATIM file to include it.

[2020-02-21 14:41] NateHeard opened #84 "GIS Content on DATIM Support"
This issue will track a review of GIS Content on DATIM Support, guidance on changes, and the development of replacement materials as necessary.

Article | Action (Approve, Update, Archive)
-- | --
[GIS OU Hierarchy Guide](https://datim.zendesk.com/hc/en-us/articles/206855986-GIS-OU-Hierarchy-Guide) | Archive
[GIS Analytics Series](https://datim.zendesk.com/hc/en-us/articles/206276395-GIS-Analytics

[2020-02-21 17:35] NateHeard commented on #84
The **GIS Analytic Series** recordings seem worth keeping for now. However, while the content is valid the series is out of date. It uses the older DATIM Map Module and has a pre-Panorama framing. The page requires this update: "Most recent version of the DATIM GIS Supplement" will be updated to "Most recent version of the PEPFAR Spatial Data Lifecycle." The other two links in the Supplementary in

[2020-02-24 17:40] CmdrKerfy commented on #72
The Namibia team has sent me a stripped down shapefile with **38 districts**. Please note that I was often asked to rename *Lüderitz* district as *!Nami#nus* on map products.

I will review the country team's shared shapefile with UNAIDS geographic information for eventual DATIM update.

[2020-02-24 17:43] CmdrKerfy opened #85 "Botswana FY19 Health Facilities"
As part of COP20 mapping support, I was given a dataset with all of Botswana's FY19 facilities. The table is missing UIDs and contains significantly more points than DATIM currently has.

The dataset will be reviewed closer and added to DATIM as applicable.

[2020-02-27 15:53] NateHeard commented on #84
**PEPFAR Spatial Data Lifecycle** draft revision is complete and under review by GIS Team.

[2020-03-09 14:08] NateHeard commented on #84
**Hands-on Exercise - Geography in DATIM (GIS)** is duplicative of what is in the **Trainer Guide - Geography in DATIM (GIS)**. Recommending that we archive it.

[2020-03-10 15:52] NateHeard opened #86 "Wiki Content Review"
Semiannual review of wiki content and link integrity: https://github.com/ICPI/GIS/wiki

[2020-03-13 15:43] gsarfaty commented on #86
Pages to review:

- [x] 1. Guidance Documents

- [x] 2. PEPFAR-specific Spatial Data Management & Related Resources

- [x] 3. Software & Tools

- [x] 4. Data Sources

- [x] 5. Training Resources

- [x] 6. Health Geography Research

[2020-03-13 16:46] gsarfaty commented on #86
all pages have been updated for relevancy and link intergrity. feel free to suggest editions to the pages @ICPI/gis

[2020-03-13 16:57] gsarfaty commented on #50
2020 draft [here](https://www.pepfar.net/sites/icpi/Shared%20Documents/Clusters/Geospatial%20Data/Administration/Workplan/2020%20Geospatial%20Data%20Cluster%20Workplan.xlsx) with team input needed by 3/27 meeting

[2020-03-20 20:35] CmdrKerfy commented on #50
2020 workplan finalized based on cluster feedback and ready for final QC.

[2020-03-23 20:17] CmdrKerfy commented on #85
Delayed until more clarity from country team.

[2020-03-23 20:17] #85 closed, assigned to nobody

[2020-03-24 17:56] CmdrKerfy commented on #72
Per country team's direction, I have switched back to the 2016 district dataset and depreciated the 2019 dataset in AGOL.

[2020-03-24 17:56] #72 closed, assigned to NateHeard

[2020-03-25 12:26] gsarfaty commented on #86
Hearing no calls for edits, closing the ticket.

[2020-03-25 12:26] #86 closed, assigned to CmdrKerfy, gsarfaty

[2020-03-27 18:24] NateHeard commented on #73
This file is posted to AGOL as Ukraine_PROD_5_Rayon_2020_Jan. 271 of Ukraine's 629 rayon's have a uid match. The file is in DATIM.

[2020-03-27 18:24] #73 closed, assigned to NateHeard

[2020-03-31 17:22] gsarfaty commented on #50
[2020 workplan updated & complete](https://www.pepfar.net/sites/icpi/Shared%20Documents/Clusters/Geospatial%20Data/Administration/Workplan/2020%20Geospatial%20Data%20Cluster%20Workplan.xlsx); we will be moving things fwd via github tickets and team mtgs

[2020-03-31 17:22] #50 closed, assigned to CmdrKerfy, gsarfaty

[2020-03-31 17:26] gsarfaty commented on #26
Training doc has been added to the wiki [here](https://www.pepfar.net/sites/icpi/Shared%20Documents/Clusters/Geospatial%20Data/Projects/Spatial%20Data%20Management/Boundary%20Editing%20in%20QGIS_20181227_v1_1.pdf). Closing issue.

[2020-03-31 17:26] #26 closed, assigned to NateHeard

[2020-03-31 17:27] gsarfaty commented on #31
Closing issue as I don't believe this product dictionary exists/is relevant anymore.

[2020-03-31 17:27] #31 closed, assigned to nobody

[2020-03-31 17:29] #34 closed, assigned to gsarfaty

[2020-03-31 17:31] #51 closed, assigned to CmdrKerfy

[2020-03-31 17:40] gsarfaty opened #87 "Panorama Development Next Steps"
- [x] meeting w JH re: involvement in Pano Dev earlier on in process; more intergration of gis cluster as cross-cutting instead of standalone [@CmdrKerfy ]
- [x] Assign @CmdrKerfy, @NateHeard, @gsarfaty to technical clusters for new dossier development outreach

- HIV Prevention

- HIV/TB Diagnosis @CmdrKerfy

- HSS & KP

Assign @CmdrKerfy, @NateHeard, @gsarfaty to technical clusters for enhanceme

[2020-04-01 15:11] NateHeard commented on #65
I've joined uid to the Cameroon MoH map and sent the file, Cameroon_PROD_HealthDistricts_2020_Jan, to the PPM, who will facilitate the country team's review. In general, PEPFAR OU teams should defer to partner government demarcations.

[2020-04-01 20:58] CmdrKerfy opened #88 "[Pano Dev] TB Cluster Support"
The TB cluster has identified three maps that they'd like to be added to the mapping dossier and potentially as standalone products, depending on the particular request.

**DATASET:**
- Latest clean MSD (FY19Q4 at time of writing this)

**MAP 1:**
- Indicator: TBPREV_NUM

**MAP 2:**
- Indicators: TBPREV_NUM Result / TBPREV_TOL NUM TARGETS

**MAP 3:**
- Indicators: TPTCOVERAGE TB PREV NUM / DEM

**

[2020-04-01 21:12] CmdrKerfy commented on #87
I'm working on compiling known technical issues we've received based on testing and limited user feedback. Please let me know if you've come across any others so that we can group together into one document for handover.

**Known Issues:**
- No labels for PSNUs
- No visualization of PSNUs that do not have DATIM information
- No method for the user to change base layers
- No method for the user to

[2020-04-01 21:18] CmdrKerfy opened #89 "[Automation] Turn Spider-Map Code into a Generalized Template"
Nate and I will work to reverse engineer the original spider-man's R code to create a prompt based tool for end users to create their own maps.

The code can be found here:
https://github.com/ICPI/GIS/blob/master/R_scripts/FY19Q1_Lab_maps.R

[2020-04-03 20:54] NateHeard commented on #80
Sector uids were deduplicated, assigned correctly, and updated to DATIM and AGOL.

[2020-04-03 20:54] #80 closed, assigned to NateHeard

[2020-04-03 20:55] NateHeard commented on #79
Nate provided a prototype to PEPFAR-MoH alignment team and DUIT. Closing this ticket.

[2020-04-03 20:55] #79 closed, assigned to NateHeard

[2020-04-10 11:38] gsarfaty opened #90 "Convert QGIS styling guides into "tips and tricks""
opportunity to re-purpose some qgis TA into a tips and tricks section in the wiki.

[2020-04-17 18:41] NateHeard commented on #76
Woreda draft with all requested changes is with the country team for review.

[2020-04-20 13:49] NateHeard commented on #55
Liberia_PROD_5_DistrictsLsib_2019_Oct erroneously assigned Commonwealth in Montserrado to Grand Cape Mount. The shapefile also had extra spaces in the uid column. The file is now updated (Montserrado's was Commonwealth1 in shp) and saved under the same file name in AGOL. One unit, Bushwick, has no match. The program in Liberia only operates in Montserrado and all units in that area are accounted f

[2020-04-20 14:25] NateHeard commented on #55
Similarly, Liberia_PROD_4_CountiesLsib_2019_Oct is level 5 in DATIM. Update made to name in AGOL. @CmdrKerfy, since you selected source shp and did vector editing, could you write metadata for this? Screenshot shows all three levels 4, 5, 6 in DATIM.
![image](https://user-images.githubusercontent.com/13320367/79762393-b8a7fb80-82f0-11ea-87ce-91c725bab9a0.png)

[2020-04-20 21:15] NateHeard commented on #59
WestAfricaRegion_PROD_5_Region_TogoLsib_2020_Apr and WestAfricaRegion_PROD_6_Region_TogoLsib_2020_Apr are loaded to DATIM and AGOL.

[2020-04-20 21:15] #59 closed, assigned to NateHeard

[2020-04-22 23:46] NateHeard commented on #69
Haiti_PROD_5_District_DistrictLsib_2020_Apr is now loaded to DATIM and AGOL.

[2020-04-23 19:04] NateHeard commented on #69
Haiti_PROD_6_Commune_CommuneLsib_2020_Apr is now loaded to DATIM and AGOL.

[2020-04-23 19:04] #69 closed, assigned to NateHeard

[2020-04-23 19:06] #55 closed, assigned to CmdrKerfy

[2020-04-23 22:58] NateHeard commented on #76
OU team approved 1041 woreda, 128 zones, in DATIM and AGOL.

[2020-04-23 22:58] #76 closed, assigned to NateHeard

[2020-04-24 01:05] NateHeard commented on #56
Because West Africa is a regional program, Mali's national boundary is level 4. The regions are level 5. Level 6 is the cercles. The commune file on AGOL is not in the hierarchy, although some of those units share names with the cercles level. The hierarchy goes from level 6 to the facility. I've made an exception for Bamako, and promoted the communes to the cerles level.

[2020-04-24 01:57] NateHeard commented on #56
Loaded to AGOL and DATIM.
![image](https://user-images.githubusercontent.com/13320367/80165530-a86e7580-85a9-11ea-8891-17780979a291.png)

[2020-04-24 01:57] #56 closed, assigned to CmdrKerfy

[2020-04-28 01:47] NateHeard commented on #52
I've loaded a map that represents the 26 states and 1 federal district of Brazil to AGOL and DATIM.

[2020-04-28 01:47] #52 closed, assigned to jltobias

[2020-04-30 20:04] NateHeard commented on #57
Senegal regions (5) and communes (6) are loaded to DATIM and AGOL. They are LSIB aligned.

[2020-04-30 20:04] #57 closed, assigned to NateHeard

[2020-04-30 21:10] paigeschoenberg commented on #84
Hi GIS Team - thanks so much for your efforts on this! I have made the updates according to the table. Please keep me posted on further updates that you'd like to make or any new articles you'd like to post and our team will make note of it in our tracker of all Zendesk content.

Updates 4/30/2020:

- Added this line, "Update April 2020: The most recent version of the DATIM GIS Supplement will be

[2020-05-01 00:51] NateHeard commented on #83
Geometry was correct. Update required change to name in attribute table. Took opportunity to close gaps and remove some overlaps. Update to file made to DATIM and AGOL.

[2020-05-01 00:51] #83 closed, assigned to gsarfaty, NateHeard

[2020-05-02 00:06] NateHeard opened #91 "Polygon dirt: the transition to a PostGIS database in DHIS2 2.33"
Preparation for the jump to DHIS2 2.33 has revealed issues with geometry in DATIM. DHIS2 version 2.33 uses PostGIS to store vector data and will not tolerate some spatial data issues about which previous versions of DHIS2 was ambivalent. Some issues are topological. Others are due to layers being stored as polygons as opposed to the required multipolygons. There is a [SQL Query](https://www.datim.

[2020-05-04 20:52] NateHeard commented on #75
DATIM now shows a divided Kadoma district into Sanyati District and Mhondoro District in line with MOH's DHIS2 organizational hierarchy. I will update this map and load a new file to AGOL and DATIM.

[2020-05-06 22:06] NateHeard commented on #75
Districts updated. Topology cleaned. Loaded to AGOL and DATIM.

[2020-05-06 22:06] #75 closed, assigned to NateHeard

[2020-05-06 22:19] NateHeard commented on #84
Hi @paigeschoenberg, thanks very much for making these updates. We are currently clearing the document that will eventually replace the GIS Supplement and will provide that to your team when it becomes available for public presentation.

Regarding your question, I think the Video Tutorial page had a link at the bottom, something like an additional resource, that might have been relevant for the Tr

[2020-05-08 11:46] #84 closed, assigned to CmdrKerfy, gsarfaty, NateHeard

[2020-05-11 20:26] NateHeard commented on #72
There are only 36 districts in DATIM. If the team has transitioned to the 38-district configuration the team can initiate an org unit hierarchy change. If Lüderitz district is actually named !Nami#nus, the DATIM Site Administrator should likely make this change in DATIM.

[2020-05-15 19:44] NateHeard commented on #88
This information will be added to the Planned Dossier Updates Template and submitted by COB Monday 5/18.

[2020-05-15 20:21] NateHeard commented on #87
We have a set of enhancements and bugs to work on this cycle. This information will be added to the Planned Dossier Updates Template and submitted to the DIV co-leads by COB Monday 5/18. @NateHeard will circulate the template to @gsarfaty and @CmdrKerfy on Monday morning for review and sign off by COB.

**Enhancements**

- HIV/TB chapter as outlined in https://github.com/ICPI/GIS/issues/88
- Add t

[2020-06-03 13:50] NateHeard opened #92 "Polygons for Peace Corps"
Peace Corps requires a set of polygons that extends to SNU3 for the following OUs: Botswana, Cameroon, Eswatini, Kenya, Lesotho, Malawi, Mozambique, Namibia, South Africa, Tanzania, Uganda,
Ukraine, Zambia. There is a linked  zendesk ticket, https://datim.zendesk.com/agent/tickets/33780. We'll respond to this in parallel with an update to the larger set of Visual Crossing polygons.

[2020-06-11 13:52] NateHeard opened #93 "Update DREAMS fact sheet inset maps"
In preparation for IAS, the DREAMS Team has requested a set up maps that show current DREAMS SNUs as well as SNUS where DREAMS will expand in FY21.

[2020-06-11 13:52] NateHeard commented on #93
Maps are due COB 6/11.

[2020-06-18 20:42] NateHeard commented on #93
Maps delivered to DREAMS Team on time. Now awaiting feedback, standing by to see if any modifications are needed. Maps listed below (plus Mozambique).

![image](https://user-images.githubusercontent.com/13320367/85069709-944a8d00-b182-11ea-99b1-7e20c729473b.png)

[2020-06-18 20:43] NateHeard commented on #92
Polygons delivered.

[2020-06-18 20:43] #92 closed, assigned to NateHeard

[2020-06-19 12:46] NateHeard commented on #87
- June 22: Development starts
- July 22: Add real data to mock data
- July 24: Data Strong Code Review
- July 28-29: QC of Dossiers, Round 1
- July 31: Pano Content Development Ends
- August 17-19:  QC of Dossiers, Round 2

[2020-06-19 13:15] NateHeard opened #94 "HIV cartogram update"
S/GAC Front Office has requested an update to the HIV cartogram map. There is no deadline attached to the request but @NateHeard will begin data preparation presently.

![image](https://user-images.githubusercontent.com/13320367/85136133-31ea9e80-b20d-11ea-9978-f1f9e959087e.png)

[2020-08-31 15:55] NateHeard commented on #93
No modifications needed.

[2020-08-31 15:55] #93 closed, assigned to NateHeard

[2020-08-31 15:56] NateHeard commented on #94
Query on whether update to this map existed did not convert to tasking.

[2020-08-31 15:56] #94 closed, assigned to NateHeard

[2020-08-31 16:18] NateHeard commented on #91
Upgrade to 2.33 appears to have gone smoothly. Also, the SQL view referenced here no longer exists. Archiving this for now. Still, issue underscores need for more rigorous topology testing prior to loading polygons to DATIM and saving to AGOL.

[2020-08-31 16:18] #91 closed, assigned to NateHeard

[2020-08-31 16:19] NateHeard commented on #88
TB chapter and pages in Map Dossier now live in Pano.

[2020-08-31 16:19] #88 closed, assigned to CmdrKerfy

[2020-08-31 16:21] NateHeard commented on #87
This cycle has closed. Strategic outreach to other clusters early in next development cycle should start early.

[2020-08-31 16:21] #87 closed, assigned to CmdrKerfy, gsarfaty, NateHeard

[2020-08-31 16:22] NateHeard commented on #65
Absent feedback from OU, proceeded with guidance to follow MoH polygons. Updates made to DATIM, Pano, and AGOL.

[2020-08-31 16:22] #65 closed, assigned to NateHeard

[2020-09-03 16:01] NateHeard opened #95 "South Sudan SQUAD analysis"
This issue prioritizes South Sudan for a SQUAD review.

[2020-09-16 21:46] CmdrKerfy opened #96 "GIS Cluster Landing Page Protoype"
This thread will capture the ongoing to-do list and any progress in this thread. Latest working prototype can be found here:

### [LIVE DEMO](https://cmdrkerfy.github.io/gis-cluster-test2/)

# **OVERALL UPDATES**
- [ ] Work with Randy (or current POC) on migration process to ICPI GitHub
- [ ] Clean up backend code to remove any extraneous files
- [ ] Create fake dataset to use training examples

[2020-09-18 20:30] CmdrKerfy opened #97 "Mapping Dossier PVA Course Development"
## Development Timeline

Will update list with dates as appropriate

### **Phase 1:**
- [ ] Planning meeting  [Everyone]
- [ ] Initial structure overview highlighting sections and key points  [@NateHeard]
   - [ ] Assign sections to  [@CmdrKerfy @SpaceForceOne ]

### **Phase 2:**
- [ ] Create first version of script  [Everyone]
- [ ] Second planning meeting to discuss script  [Everyone]
- [ ] Fina

[2020-09-25 15:53] NateHeard commented on #95
Complete. Full report is with country team, which has developed a data improvement plan that includes merging duplicate sites that SQUAD identified. Ideal case.

[2020-09-25 15:53] #95 closed, assigned to NateHeard

[2020-09-28 16:09] NateHeard opened #98 "South Africa: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [ ] Follow SQUAD instructions, roughly, per below:
![image](https://user-images.githubusercontent.com/11572993/479

[2020-09-28 16:10] NateHeard commented on #98
FYI: @CmdrKerfy

[2020-09-28 16:11] NateHeard opened #99 "Côte d'Ivoire: geographic coordinate review"
- [ ] Add facility file to a new project

- [ ] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [ ] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/11572993/47

[2020-09-28 16:15] NateHeard opened #100 "Ethiopia: DATIM geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/11572993/47

[2020-09-28 16:44] NateHeard commented on #100
Ethiopia analysis conducted at the zone level (5 in DATIM).

[2020-09-28 16:44] #100 closed, assigned to NateHeard

[2020-09-29 14:00] NateHeard opened #101 "Mozambique: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/11572993/47

[2020-09-29 14:00] NateHeard commented on #101
Mozambique done with analysis at the district level (DATIM 5).

[2020-09-29 14:00] #101 closed, assigned to NateHeard

[2020-09-30 14:43] NateHeard commented on #5
Completed with UNAIDS DRC boundaries. One of the primary issues with DRC coordinates is the number of duplicate coordinates. These were intended to be placeholders in the initial population of lat-long in DATIM. Could review GRID3 as possible input: https://academiccommons.columbia.edu/doi/10.7916/d8-tnx3-8z95

[2020-09-30 14:43] #5 closed, assigned to NateHeard

[2020-09-30 17:33] NateHeard opened #102 "Zimbabwe: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/11572993/47

[2020-10-06 00:59] NateHeard commented on #102
Conducted at the district level.

[2020-10-06 00:59] #102 closed, assigned to NateHeard

[2020-10-06 01:00] NateHeard opened #103 "Malawi: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/11572993/47

[2020-10-06 01:00] NateHeard commented on #103
Conducted at level 6, the district level.

[2020-10-06 01:00] #103 closed, assigned to NateHeard

[2020-10-06 01:57] NateHeard opened #104 "Botswana: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/11572993/47

[2020-10-06 01:57] NateHeard commented on #104
Conducted at level 5, the district level

[2020-10-06 01:58] NateHeard opened #105 "Tanzania: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. **Note in this ticket what shp was used by adding a comment, including its file name**

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/11572993/47

[2020-10-16 15:18] CmdrKerfy opened #106 "South Africa polygon completeness review"
As determined during the 2020 SQUAD, three level 5 districts have been identified as needing name updates:

_Uthungulu District Municipality_        -->     **kz King Cetshwayo District Municipality**

_wc Eden District Municipality_            -->     **wc Garden Route District Municipality**

_ec Cacadu District Municipality_         -->     **ec Sarah Baartman District Municipality**

[2020-10-16 16:10] CmdrKerfy commented on #106
-  Names updated
-  Dataset uploaded to AGOL (SouthAfrica_PROD5_DistrictLsib_2020_Oct)
-  Previous dataset is depreciated

[2020-10-16 16:10] #106 closed, assigned to CmdrKerfy

[2020-10-16 16:46] CmdrKerfy commented on #98
Updated link to new  [PEPFAR SP Site](https://pepfar.sharepoint.com/sites/ICPI/Shared%20Documents/Forms/AllItems.aspx?csf=1&web=1&e=6pOlVc%2F&FolderCTID=0x012000DE0ED9A08616DD4AB01C9D14812A931300CD6F14A27D68D547B5474407F49FBAA5&id=%2Fsites%2FICPI%2FShared%20Documents%2FClusters%2FDAQ%2FGeospatial%20Data%2FProjects%2FSpatial%20Data%20Management%2FSQUAD%5F2020%5FSep&viewid=b4298bef%2D654d%2D4935%2D9

[2020-10-16 16:49] CmdrKerfy commented on #98
SQUAD exported table added to SharePoint using aforementioned updated SP link.

[2020-10-16 16:49] #98 closed, assigned to CmdrKerfy

[2020-10-16 16:58] CmdrKerfy opened #107 "Namibia: geographic coordinate review"
- [ ] Add facility file to a new project

- [ ] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [ ] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9628696

[2020-10-16 18:11] CmdrKerfy opened #108 "Lesotho: geographic coordinate review"
- [ ] Add facility file to a new project

- [ ] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [ ] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9629384

[2020-10-17 04:58] CmdrKerfy commented on #71
Based on 2020 SQUAD, names have been changed to:

- Botha Bothe Urban Council --> Butha Buthe Urban Counil
- Bokong --> Bokong Community Council
- Hleoheng --> Hleoheng Community Council
- Hlotse --> Hlotse Urban Council
- Kanana --> Kanana Community Council
- Khoelenya --> Khoelenya Community Council
- Khutlo-se-Metsi --> Khutlo-se-Metsi Community Council
- Kubake --> Kubake Community Council
- K

[2020-10-20 13:39] NateHeard opened #109 "Ethiopia: Woreda and zone update"
This ticket will track an update to the Ethiopia woreda boundaries in the shapefile Ethiopia_PROD_6_Woreda_WoredaLsib_2020_Apr. The update will demarcate parts of Addis Ababa (Yeka Woreda 14, Akaki Kality Woredas 12 & 13) using reference files provided by the country team.

[2020-10-22 15:32] CmdrKerfy opened #110 "Uganda: geographic coordinate review"
- [ ] Add facility file to a new project

- [ ] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [ ] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9689513

[2020-10-22 16:13] CmdrKerfy commented on #110
Initial **Anomaly 6** errors due to missing _districts_ in AGOL's PROD_5:

- Kalaki District
- Karenga District
- Kazo District
- Kitagwenda District
- Madi-Okollo District
- Obongi District
- Rwampara District

[2020-10-22 17:05] CmdrKerfy commented on #49
Based on 2020 SQUAD analysis, Uganda districts should be updated once again.

[2020-10-23 14:23] jltobias opened #111 "Sierra Leone: geographic coordinate review"
Creating issue to look at SQUAD for Sierra Leone.

[2020-10-23 14:29] NateHeard opened #112 "Cameroon: geographic coordinate review"
- [ ] Add facility file to a new project

- [ ] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [ ] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [ ] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9689513

[2020-10-26 17:39] NateHeard commented on #109
Using sketches and tabular updates provided by the country team , I've edited the woreda level as follows.

**Akaki Kality woreda**
![Akaki Kality Update](https://user-images.githubusercontent.com/13320367/97207315-44af4a00-1790-11eb-9448-757977bf866d.png)

**Yeak woreda**
![Yeka Update](https://user-images.githubusercontent.com/13320367/97207324-45e07700-1790-11eb-9c85-74c3ab92daf4.png).

The pro

[2020-10-26 20:53] NateHeard opened #113 "SQUAD 2020: geographic coordinate review"
This issue lists all SQUAD 2020 issues to facilitate identification of OUs that still need geographic coordinate review. When PPMs receive data, OU names are switched to bold.

- [ ] Angola - https://github.com/ICPI/GIS/issues/118
- [ ] Asia Region
- [x] Botswana - https://github.com/ICPI/GIS/issues/104
- [ ] Burundi
- [ ] Cameroon - https://github.com/ICPI/GIS/issues/112
- [ ] Côte d'Ivoire - htt

[2020-10-26 20:54] #104 closed, assigned to NateHeard

[2020-10-27 20:06] CmdrKerfy commented on #49
Initial draft of new Uganda district created based on this [OCHA shapefile](https://data.humdata.org/dataset/uganda-administrative-boundaries-admin-1-admin-3) from August 2020 and stored [HERE](https://pepfar.sharepoint.com/sites/ICPI/Shared%20Documents/Forms/AllItems.aspx?csf=1&web=1&e=6pOlVc%2F&FolderCTID=0x012000DE0ED9A08616DD4AB01C9D14812A931300CD6F14A27D68D547B5474407F49FBAA5&viewid=b4298bef%

[2020-10-30 13:55] NateHeard commented on #71
I propose this boundary for Maseru Urban Council. It is based on the district line that crosses MCC and is consistent with health facilities that are supposed to be in Maseru Urban Council.

![MCC](https://user-images.githubusercontent.com/13320367/97713317-11253600-1a96-11eb-9830-ec6f944fb2c7.png)

Remaining councils that appear in DATIM at level 5 but have no match in the shapefile

- Berea Urba

[2020-10-30 17:28] NateHeard commented on #71
Based on review of shapefiles separately sourced from FAO and UNAIDS,  Lehlakaneng = Lehlakeng.

[2020-11-19 18:53] CmdrKerfy commented on #60
Based on latest SQUAD analysis, the following districts will be adjusted:

- Chiengi District --> **Chienge District**

- Chapangali District --> **Chipangali District**

- Ikeleng’i District --> **Ikelenge District**

- Kalumblia District --> **Kalumbila District**

- Kapiri Mposhi District --> **Kapiri-Mposhi District**

- Lusaka Urban District  --> **Lusaka District**

- Mushindano District -->

[2020-11-19 19:19] CmdrKerfy opened #114 "Zambia: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9628696

[2020-11-19 19:21] CmdrKerfy commented on #114
Initial run completed. District names updated accordingly.

There are currently 200 A6 Errors, a majority of which coming from these three districts:

- Chasefu District

- Lundazi District

- Shiwang'andu District

**Zambia shapefile put on Sharepoint for QC.**

[2020-12-02 16:29] CmdrKerfy opened #115 "Eswatini: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9689513

[2020-12-02 16:30] CmdrKerfy commented on #115
Data exported and added to SharePoint for review

[2020-12-02 16:46] CmdrKerfy opened #116 "Rwanda: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9689513

[2020-12-02 18:11] CmdrKerfy opened #117 "Rwanda polygon completeness review"
Based on the 2020 SQUAD analysis, the following adjusts were made to the Sector (level 6) DATIM metadata:

* **Add ' Sector' to the end of each admin**
--
* Busasamana(Nyanza) --> Busasamana Sector (Nyanza District)
* Busasamana(Rubavu) --> Busasamana Sector (Rubavu District)
* Cyanika(Burera) --> Cyanika Sector (Burera District)
* Cyanika(Nyamagabe) --> Cyanika Sector (Nyamagabe District)
* Kagey

[2020-12-02 18:18] CmdrKerfy commented on #116
Initial run of SQUAD is on SharePoint. There are some unusual A4s (identical name) but its not the usual complete row user error. For QC purposes, the updated Sector Level 6 shapefile was also added to SharePoint.

[2020-12-02 18:43] CmdrKerfy opened #118 "Angola: geographic coordinate review"
- [x] Add facility file to a new project

- [x] Do a definition query for the OU of interest using Level3name OU and export to a new file

- [x] Add admin level of analysis shp, most likely PSNU. Note in this ticket what shp was used by adding a comment, including its file name

- [x] Follow SQUAD instructions, roughly, per below:

![image](https://user-images.githubusercontent.com/7816685/9689513

[2020-12-02 18:45] CmdrKerfy commented on #118
Due to a lack of consensus on a level 5 admin dataset, this analysis was done using the level 4 (Province) dataset within AGOL. SQUAD results have been uploaded to SharePoint for review.

[2020-12-04 14:47] NateHeard commented on #109
DATIM has recently been updated to incorporate changes in  administrative hierarchies.

- We need to make corresponding changes to the maps.
- These changes affect the current regional shape file, two zone shape files and 22 woreda shape files
- One region,  36 zone and 12 woreda shape files will newly be formed (in addition to revision of one zone and 14 woreda borders)
- The borders of one zone

[2020-12-04 14:49] NateHeard commented on #109
I complete a draft of the woreda boundaries, which increases the total number of mappable units from 1,041 to 1,063. To quality check my work, I attached a DATIM hierarchy snapshot to the updated shapefile using the uid to confirm a clean join. Then I checked that the names in DATIM aligned perfectly with the names in the shapefile. The file is with the country team for review. I sent the shapefil

[2021-01-11 17:39] NateHeard opened #119 "PEPFAR Reference Map FY 2020"
![Worldwide_PepfarPlansFY2020_2020_Dec](https://user-images.githubusercontent.com/13320367/104217885-f3673c00-5409-11eb-9819-aa3a51ee90d1.png)

[2021-01-11 17:39] #119 closed, assigned to nobody

[2021-01-13 14:27] NateHeard opened #120 "Visual Crossing Polygon and Centroid File Creation"
These are the layers that compose the VcPepfarPolygons file. This ticket will document updates that are needed and what files we are using to replace existing files. Once the new set of files is finalized, we'll merge them into a new VcPepfarPolygons file and derive centroids from that.

Layer
--
AngolaProvinceLsib2016Aug
AsiaRegion_PROD_3_2020_Jan
AsiaRegion_PROD_4_2020_Jan
AsiaRegionalProgram_PR

[2021-01-22 00:48] NateHeard commented on #120
Files are now updated and located here: https://pepfar.sharepoint.com/:f:/r/sites/ICPI/Shared%20Documents/Clusters/DAQ/Geospatial%20Data/Projects/Spatial%20Data%20Management?csf=1&web=1&e=l5YHRc

Pano development team was able to obtain the files via this update to Pano: https://github.com/pepfar-datim/Analytics/issues/3128

[2021-01-22 00:48] #120 closed, assigned to CmdrKerfy, NateHeard

[2021-01-27 16:47] NateHeard opened #121 "Côte d'Ivoire redistricting"
There are 86 units in our current Level 5 shapefile and 20 in our Level 4 shapefile. Based on recent redistricting, we need to update to 114 and 33, respectively. Historically, Côte d'Ivoire has used health districts and provinces which are particular to the Ministry of Health. I'll attempt to identify a suitable file to update our reference map.

FYI @SpaceForceOne, just in case you have a possib

[2021-02-13 20:17] NateHeard commented on #49
In addition to the new boundaries, the new AGOL file, Uganda_PROD_5_District_DistrictLsib_2020_Feb, has includes many topolopogy error resolutions.

[2021-02-13 20:17] #49 closed, assigned to NateHeard

[2021-09-02 18:28] CmdrKerfy opened #122 "[IMPROVEMENTS] R-Based Hot Spot Analysis Script"
**NEXT STEPS/IMPROVEMENTS**

General Improvements:
- [ ] Add Jupyter Notebook integration [likely through Binder] so that users can run the whole script within the browser
- [ ] Create a version of the tool that uses GeoJSON files instead of shapefiles for easier barrier of entry
- [x] Create new facility level script that uses fake Ethiopia data in a hypothetical supply chain scenario
- [ ] Write

[2021-10-07 13:58] NateHeard commented on #121
New gml uploaded to DATIM August 2.

[2021-10-07 13:58] #121 closed, assigned to NateHeard

[2021-10-07 14:08] #60 closed, assigned to NateHeard

[2021-10-07 14:09] #118 closed, assigned to CmdrKerfy

[2021-10-07 14:10] #116 closed, assigned to CmdrKerfy

[2021-10-07 14:12] #115 closed, assigned to CmdrKerfy

[2021-10-07 14:13] #114 closed, assigned to CmdrKerfy

[2021-10-07 14:14] #112 closed, assigned to NateHeard

[2021-10-07 14:15] #105 closed, assigned to NateHeard

[2021-10-07 14:16] #109 closed, assigned to NateHeard

[2021-10-07 14:17] #108 closed, assigned to CmdrKerfy

[2021-10-07 14:19] #110 closed, assigned to CmdrKerfy

[2021-10-07 14:21] NateHeard commented on #99
Boundaries updated in AGOL and DATIM. Can support next round of SQUAD.

[2021-10-07 14:21] #99 closed

[2021-10-07 14:22] #107 closed, assigned to CmdrKerfy

[2021-12-13 13:36] NateHeard commented on #117
Shapefile attribute data is up to date on AGOL.

[2021-12-13 13:36] #117 closed, assigned to CmdrKerfy

[2021-12-13 13:56] NateHeard opened #123 "Philippines - Subnational Administrative Boundaries"
Philippines org unit hierarchy has expanded since the it became an OU in DATIM. This ticket tracks the identification of a digital map that matches DATIM, the addition of DATIM uid to the attribute table, and the loading of the map to DATIM and Panorama.

[2021-12-13 17:12] NateHeard opened #124 "Ethiopia: Update to woreda and zones"
This ticket tracks geographical changes to the basemap for Ethiopia's woredas and zones, guided by materials provided by the Ethiopia SI Team on December 13.

[2021-12-14 17:55] NateHeard opened #125 "PEPFAR World Map, 2022"
S/GHD has requested an updated world map that includes Benin for use on https://www.state.gov/where-we-work-pepfar/.

[2021-12-16 17:32] NateHeard commented on #125
This version adds Benin and removes, Suriname and Barbados. Final map posted to Where We Work: https://www.state.gov/where-we-work-pepfar/

[2021-12-16 17:32] #125 closed, assigned to NateHeard

[2021-12-23 15:25] NateHeard commented on #124
The Ethiopia SI team documented a set of necessary changes to the woreda, zone, and region maps that represent the country in DATIM and Panorama. The maps are also an input to NAOMI modelling.

**New units**

- South West Ethiopia
- Lemi Kura
- Lemi Kura Woreda 3
- Lemi Kura Woreda 6
- Lemi Kura Woreda 4
- Lemi Kura Woreda 2
- Lideta Woreda 6 New

- [x] South West Ethiopia - Region, Zone, Woredas-

[2021-12-23 17:59] NateHeard commented on #124
Maps submitted to DATIM Team for upload to DATIM.

[2022-01-07 18:52] NateHeard commented on #124
Loaded in DATIM. In queue for Pano.

[2022-01-07 18:52] #124 closed, assigned to NateHeard

[2022-02-11 14:48] NateHeard commented on #123
Boundaries are now posted to AGOL, loaded to DATIM, and in the queue for loading to Panorama.

[2022-02-11 14:48] #123 closed, assigned to NateHeard

[2022-02-23 16:02] NateHeard opened #126 "Missing Geometry: Eswatini"
The Missing Geometry query indicates that DATIM contains five Inkhundla that lack geometry. This ticket tracks the effort to improve the completeness of Eswatini's map at Level 5.

[2022-02-23 19:53] cmkalman opened #127 "Missing Geometry: Brazil"
We are missing the OU level boundary for Brazil in DATIM

When you add all boundaries for all countries in the Americas it appears, but it as part of a larger "Western Hemisphere" file, but it cannot be called on it's own.

[2022-02-23 20:30] cmkalman opened #128 "Missing Geometry: Angola"
The Missing Geometry query indicates that DATIM contains 2 provinces (Level 4) and 63 municipalities (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Angola's map.

[2022-02-23 21:21] cmkalman opened #129 "Missing Geometry: Bahamas"
The Missing Geometry query indicates that DATIM is missing 7 district boundaries (level 6). This ticket tracks the effort to improve the completeness of the Bahamas map.

[2022-02-24 00:26] NateHeard commented on #126
Eswatini_PROD_5_Tinkhundla_TinkhundlaLsib_2020_Apr currently contains 55 tinkhundla, all of which have an assigned uid. An official map shows some of the five that are missing geometry in DATIM and could form the basis for an update: https://www.gov.sz/index.php/ministries-departments/parliament/141-test/2025-new-tinkhundla-map

[2022-02-24 15:33] cmkalman opened #130 "Missing Geometry: Burkina Faso"
The Missing Geometry query indicates that DATIM is missing 10 regions (level 5) and 26 provinces (level 6) that lack geometry. Based on a shapefile present in AGOL, level 7 in DATIM should be communes and facilities should be moved to level 8. This ticket tracks the effort to improve the completeness of Burkina Faso's map.

[2022-02-24 16:22] NateHeard commented on #127
Brazil's uid in the Western Hemisphere Level 4 file was erroneously the "world" uid. Brazil now has the correct uid on AGOL in an updated WesternHemisphere_PROD_4_National_NationalLsib_2022_Feb file. When this file is loaded to DATIM, we'll be able to close this ticket.

[2022-02-24 20:14] cmkalman opened #131 "Missing Geometry: Burma"
The Missing Geometry query indicates that DATIM contains one district and 140 townships that lack geometry. This ticket tracks the effort to improve the completeness of Burma's map at Levels 6 and 7.

[2022-02-24 20:50] cmkalman opened #132 "Missing Geometry: Burundi"
The Missing Geometry query indicates that DATIM contains one health district (level 1) and 969 Colline (level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Burundi's map.

[2022-02-24 20:51] cmkalman opened #133 "Missing Geometry: Cambodia"
The Missing Geometry query indicates that DATIM contains 43 operational districts that lack geometry. This ticket tracks the effort to improve the completeness of Cambodia's map at Level 6.

[2022-02-24 20:52] cmkalman opened #134 "Missing Geometry: Cameroon"
The Missing Geometry query indicates that DATIM contains eight health districts that lack geometry. This ticket tracks the effort to improve the completeness of Cameroon's map at Level 5.

[2022-02-24 20:56] cmkalman opened #135 "Missing Geometry: China"
The Missing Geometry query indicates that DATIM contains 5 prefecture (level 6) and 48 counties (level 7) that lack geometry. This ticket tracks the effort to improve the completeness of China's map.

Currently China is only available in AGOL as part of the larger Asia region files. Might be helpful to parse these out so folks can call in just China.

[2022-02-24 20:59] cmkalman opened #136 "Missing Geometry: Colombia"
The Missing Geometry query indicates that DATIM contains 1 (level 4) and 2 (level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Columbia's map. -- Common Names not in DATIM_OU_Hierarchy_Common_Names_Guide_2021_September

Draft Levels:
Level 3 - Region
Level 4 - Country
Level 5 - Department
Level 6 - Municipality
Level 7 - Facility

[2022-02-24 22:01] cmkalman opened #137 "Missing Geometry: Cote d'Ivoire"
The Missing Geometry query indicates that DATIM contains 534 communes that lack geometry. This ticket tracks the effort to improve the completeness of Cote d'Ivoire's map at Level 6.

[2022-02-24 22:02] cmkalman opened #138 "Missing Geometry: DRC"
The Missing Geometry query indicates that DATIM contains 2 Health Zones that lack geometry. This ticket tracks the effort to improve the completeness of DRC's map at Level 5.

[2022-02-24 22:04] cmkalman opened #139 "Missing Geometry: Kenya"
The Missing Geometry query indicates that DATIM contains 2 countries, 305 subcounties (Level 5), and 14777 wards (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Kenya's map.

[2022-02-24 22:07] cmkalman opened #140 "Missing Geometry: Dominica"
The Missing Geometry query indicates that DATIM contains 1 capital (Level 6) that lacks geometry. This ticket tracks the effort to improve the completeness of Dominica's map at Level 6.

[2022-02-24 22:09] cmkalman opened #141 "Missing Geometry: Dominican Republic"
The Missing Geometry query indicates that DATIM contains 2 provinces (Level 5) and 2 municipalities (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Dominican Republic's map.

[2022-02-24 22:10] cmkalman opened #142 "Missing Geometry: El Salvador"
The Missing Geometry query indicates that DATIM contains 268 municipalities (level 6) that lack geometry. This ticket tracks the effort to improve the completeness of El Salvador's map.

[2022-02-24 22:12] cmkalman opened #143 "Missing Geometry: Ethiopia"
The Missing Geometry query indicates that DATIM contains 35 Woreda (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Ethiopia's map at Level 6.

[2022-02-24 22:14] cmkalman opened #144 "Missing Geometry: Ghana"
The Missing Geometry query indicates that DATIM contains 6 regions (Level 5), 45 districts (Level 6), 371 councils (Level 7) that lack geometry. This ticket tracks the effort to improve the completeness of Ghana's map.

[2022-02-24 22:15] cmkalman opened #145 "Missing Geometry: Grenada"
The Missing Geometry query indicates that DATIM contains 1 capital (level 6) that lacks geometry. This ticket tracks the effort to improve the completeness of Grenada's map at Level 6.

[2022-02-24 22:17] cmkalman opened #146 "Missing Geometry: Guatemala"
The Missing Geometry query indicates that DATIM contains 333 municipalities (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Guatemala's map at Level 6.

[2022-02-24 22:18] cmkalman opened #147 "Missing Geometry: Haiti"
The Missing Geometry query indicates that DATIM contains 1 district (Level 5) and 13 communes (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Haiti's map.

[2022-02-24 22:20] cmkalman opened #148 "Missing Geometry: Honduras"
The Missing Geometry query indicates that DATIM contains 276 municipalities (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Honduras's map at Level 6.

[2022-02-24 22:21] cmkalman opened #149 "Missing Geometry: India"
The Missing Geometry query indicates that DATIM contains 5 state (Level 5) and 68 districts (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of India's map.

[2022-02-24 22:23] cmkalman opened #150 "Missing Geometry: Indonesia"
The Missing Geometry query indicates that DATIM contains 1 (Level 5) and 23 (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Indonesia's map.

[2022-02-24 22:25] cmkalman opened #151 "Missing Geometry: Kazakhstan"
The Missing Geometry query indicates that DATIM contains 1 Oblast (Level 5), 12 Cities (Level 6), 20 subdistricts (Level 7) that lack geometry. This ticket tracks the effort to improve the completeness of Kazakhstan's map.

[2022-02-24 22:28] cmkalman opened #152 "Missing Geometry: Kyrgyzstan"
The Missing Geometry query indicates that DATIM contains 21 cities (Level 6) and 28 subdistrics (Level 7) that lack geometry. This ticket tracks the effort to improve the completeness of Kyrgystan's map.

[2022-02-24 22:29] cmkalman opened #153 "Missing Geometry: Laos"
The Missing Geometry query indicates that DATIM contains 1 province (Level 5) and 41 districts (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Laos's map.

[2022-02-24 22:30] cmkalman opened #154 "Missing Geometry: Lesotho"
The Missing Geometry query indicates that DATIM contains five community councils (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Lesotho's map at Level 5.

[2022-02-24 22:34] cmkalman opened #155 "Missing Geometry: Liberia"
The Missing Geometry query indicates that DATIM contains 4 (Level 5) and 12 (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Liberia's map.

[2022-02-24 22:36] cmkalman opened #156 "Missing Geometry: Malawi"
The Missing Geometry query indicates that DATIM contains 2 regions (Level 4) and 1 zone (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Malawi's map.

[2022-02-24 22:37] cmkalman opened #157 "Missing Geometry: Mali"
The Missing Geometry query indicates that DATIM contains 3 regions (Level 5) and 14 cercles (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Mali's map.

[2022-02-24 22:38] cmkalman opened #158 "Missing Geometry: Namibia"
The Missing Geometry query indicates that DATIM contains 2 health provinces (Level 4) and 1 health district (Level 5)  that lack geometry. This ticket tracks the effort to improve the completeness of Namibia's map.

[2022-02-24 22:40] cmkalman opened #159 "Missing Geometry: Nepal"
The Missing Geometry query indicates that DATIM contains 1 country (Level 4) and 18 provinces (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Nepal's map.

[2022-02-24 22:41] cmkalman opened #160 "Missing Geometry: Nicaragua"
The Missing Geometry query indicates that DATIM contains 150 municipalities (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Nicaragua's map.

[2022-02-24 22:43] cmkalman opened #161 "Missing Geometry: Nigeria"
The Missing Geometry query indicates that DATIM contains 1 state (Level 4) and 3 local government areas (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Nigeria's map.

[2022-02-24 22:44] cmkalman opened #162 "Missing Geometry: Panama"
The Missing Geometry query indicates that DATIM contains 1 province (Level 5) and 6 districts (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Panama's map.

[2022-02-24 22:46] cmkalman opened #163 "Missing Geometry: Papua New Guinea"
The Missing Geometry query indicates that DATIM contains 2 provinces (Level 5), 1 district (Level 6), 13 local-level governments (Level 7) that lack geometry. This ticket tracks the effort to improve the completeness of Papua New Guinea's map.

[2022-02-24 22:48] cmkalman opened #164 "Missing Geometry: Peru"
The Missing Geometry query indicates that DATIM contains 1 (Level 4) and 1 (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Peru's map. -- common names not provided in the DATIM_OU_Hierarchy_Common_Names_Guide

[2022-02-24 22:50] cmkalman opened #165 "Missing Geometry: Philippines"
The Missing Geometry query indicates that DATIM contains 1 (Level 4), 1 (Level 5), 1 (Level 6), 54 (Level 7) that lack geometry. This ticket tracks the effort to improve the completeness of the Philippines's map. -- common names not provided in the DATIM OU Hierarchy Common Names Guide

[2022-02-24 22:51] cmkalman opened #166 "Missing Geometry: Saint Kitts and Nevis"
The Missing Geometry query indicates that DATIM contains 2 capitals (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Saint Kitts and Nevis's map.

[2022-02-24 22:52] cmkalman opened #167 "Missing Geometry: Saint Lucia"
The Missing Geometry query indicates that DATIM contains 2 districts (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Saint Lucia's map.

[2022-02-24 22:54] cmkalman opened #168 "Missing Geometry: Saint Vincent and the Grenadines"
The Missing Geometry query indicates that DATIM contains 1 capital (Level 6)  that lack geometry. This ticket tracks the effort to improve the completeness of St Vincent and the Grenadines's map.

[2022-02-24 22:55] cmkalman opened #169 "Missing Geometry: Senegal"
The Missing Geometry query indicates that DATIM contains 4 regions (Level 5) and 10 districts (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Senegal's map.

[2022-02-24 22:56] cmkalman opened #170 "Missing Geometry: Sierra Leone"
The Missing Geometry query indicates that DATIM contains 4 province (Level 5) and 8 districts (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Sierra Leone's map.

[2022-02-24 22:58] cmkalman opened #171 "Missing Geometry: South Africa"
The Missing Geometry query indicates that DATIM contains 267 local municipalities (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of South Africa's map.

[2022-02-24 22:59] cmkalman opened #172 "Missing Geometry: South Sudan"
The Missing Geometry query indicates that DATIM contains 1 state (Level 4), 1 county (Level 5), 136 Payam (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of South Sudan's map.

[2022-02-25 14:27] cmkalman opened #173 "Missing Geometry: Suriname"
The Missing Geometry query indicates that DATIM contains 9 districts (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Surinam's map.

[2022-02-25 14:30] cmkalman opened #174 "Missing Geometry: Tajikistan"
The Missing Geometry query indicates that DATIM contains 38 districts/cities (Level 6) and 44 subdistricts (Level 7) that lack geometry. This ticket tracks the effort to improve the completeness of Tajikistan's map.

[2022-02-25 14:32] cmkalman opened #175 "Missing Geometry: Tanzania"
The Missing Geometry query indicates that DATIM contains 2 Regions (Level 4), 2 councils (Level 5) and 4860 wards (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Tanzania's map.

[2022-02-25 14:33] cmkalman opened #176 "Missing Geometry: Thailand"
The Missing Geometry query indicates that DATIM contains 336 (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Thailand's map.

[2022-02-25 14:35] cmkalman opened #177 "Missing Geometry: Togo"
The Missing Geometry query indicates that DATIM contains 3 regions (Level 5) and 3 districts (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Togo's map.

[2022-02-25 14:36] cmkalman opened #178 "Missing Geometry: Trinidad and Tobago"
The Missing Geometry query indicates that DATIM contains 6 (Level 6), 11 (Level 7) and 46 (Level 8) that lack geometry. This ticket tracks the effort to improve the completeness of Trinidad and Tobago's map.

[2022-02-25 14:37] cmkalman opened #179 "Missing Geometry: Uganda"
The Missing Geometry query indicates that DATIM contains 1 district (Level 5) and 1671 subcounty (Level 6) that lack geometry. This ticket tracks the effort to improve the completeness of Uganda's map.

[2022-02-25 14:38] cmkalman opened #180 "Missing Geometry: Ukraine"
The Missing Geometry query indicates that DATIM contains 80 Rayon (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Ukraine's map.

[2022-02-25 14:40] cmkalman opened #181 "Missing Geometry: Uzbekistan"
The Missing Geometry query indicates that DATIM contains 1 city (Level 6) and 11 districts (Level 7) that lack geometry. This ticket tracks the effort to improve the completeness of Uzbeekistan's map.

[2022-02-25 14:41] cmkalman opened #182 "Closed"
Closed missing geometry.

[2022-02-25 14:49] cmkalman opened #183 "Missing Geometry: Vietnam"
The Missing Geometry query indicates that DATIM contains 1 province (Level 4) and 3 districts (Level 5) that lack geometry. This ticket tracks the effort to improve the completeness of Vietnam's map.

[2022-02-28 19:11] #182 closed, assigned to cmkalman

[2022-02-28 19:16] NateHeard commented on #126
The five tinkhundla in question, Phondo, Nkomiyahlaba, Siphocosini, Kumethula, and Gilgal tinkhundla, do not contain facilities. The units might be placeholders.

[2022-02-28 21:52] NateHeard commented on #180
I've downloaded Ukraine_PROD_5_Rayon_2020_Jan and started to identify where the new rayon uid may be linked to the existing map. The existing map has uid for 271/629 units at that level. Twelve of the eighty rayon that lack geometry are "Rayon TBD".

[2022-03-01 15:29] cmkalman commented on #136
Currently when I try to load any boundaries for Columbia in DATIM it's saying "No Boundaries Found".
Colombia is also not present in the DATIM flat file or the OU hierarchy guide, nor does it appear in Panorama

[2022-03-01 15:34] cmkalman opened #184 "Update OU Hierarchy Common Names Guide"
Once the DATIM boundaries have been updated, we will also need to update the hierarchy guide. https://datim.zendesk.com/hc/en-us/articles/4405100067988-Common-Names-for-DATIM-levels

- [x] Columbia and it's levels will need to be
- [x] Add commune's to Burkina Faso at Level 7 (?)
- [x] Add Philipines

[2022-03-02 18:27] cmkalman commented on #128
The two missing provinces are not provinces but facilities. These should be moved down to level 7 (potentially 8 depending on other changes in the hierarchy)

The query states that there are 63 municipalities missing geometry (this includes all municipalities listed in the flat file), but there should be 162 according to the municipality boundaries on HDX. I have pulled the boundary files from HDX

[2022-03-03 16:30] cmkalman commented on #149
The 5 missing states are facilities that need to be moved to level 7

Some of the districts listed as missing geometry, I suspect,  are also facilities

[2022-03-04 15:33] NateHeard commented on #128
The two "not provinces" at level 4 are warehouses. The team is aware of these entities and there is no action to take on the province level at this time.

[2022-03-10 19:19] NateHeard commented on #180
On reviewing a new download of the Ukraine hierarchy, it was apparent that a substantial org unit revision of rayon had taken place. A revised file, Ukraine_PROD_5_Rayon_2022_Mar, is now on AGOL and a GML file is being loaded to DATIM.

[2022-03-10 19:43] #180 closed, assigned to NateHeard, cmkalman

[2022-03-10 20:32] NateHeard commented on #130
Layers in AGOL are mislabeled and lack uid altogether. I've removed these layers from AGOL and will reload with uid and a corrected name (BurkinaFaso_PROD_5_RegionsLsib_2022_Mar; BurkinaFaso_PROD_6_ProvincesLsib_2022_Mar).

[2022-03-11 13:24] NateHeard commented on #130
Layers are loaded to AGOL. Next step it to load to DATIM.

[2022-03-11 14:30] NateHeard commented on #139
There is a sub county layer available via UNAIDS that is a good match for level 5. I'm reviewing this file and will test for loading to DATIM.

[2022-03-17 15:34] NateHeard commented on #139
There are two level 5 units in DATIM that do not match the shapefile (Nakuru West Sub County and Rogena ward) and three subcounties in the shapefile that do not match DATIM (East Pokot, Kalama Sub County, and Kutulo Sub County). Level 5 is now present in Panorama, DATIM, and AGOL. The 1,477 wards are, to my knowledge, not mappable are the current time so I am closing this ticket.

[2022-03-17 15:34] #139 closed, assigned to NateHeard

[2022-03-18 19:37] NateHeard commented on #156
Missing geometry corresponds to "_TO DELETE" and "_TO DELETE ALSO".

[2022-03-18 19:37] #156 closed, assigned to NateHeard, cmkalman

[2022-03-21 15:17] NateHeard commented on #169
Levels 5 and 6 are now updated in DATIM and AGOL.

[2022-03-21 15:17] #169 closed, assigned to NateHeard

[2022-03-21 15:18] NateHeard commented on #177
Levels 5 and 6 are now updated in DATIM and AGOL.

[2022-03-21 15:18] #177 closed, assigned to NateHeard

[2022-03-21 15:19] NateHeard commented on #130
Levels 5 and 6 are now loaded to DATIM.

[2022-03-21 15:19] #130 closed, assigned to NateHeard

[2022-03-21 15:20] NateHeard commented on #170
Levels 5 and 6 are now loaded to DATIM and AGOL.

[2022-03-21 15:20] #170 closed, assigned to NateHeard

[2022-03-23 13:29] NateHeard commented on #175
The shapefiles for region and district levels now include Songwe Region and Magharibi B District. Both region and district levels have a unit named National, which do not appear to be either a region of district.

[2022-03-23 14:50] NateHeard commented on #179
The missing district is Terego District, which the Ugandan Parliament approved and which went into effect in July 2020. I've identified the boundary of Terego District and added it to our file.

[2022-03-24 13:15] NateHeard commented on #157
Selingue, at level 6, has no match in the commune file. Selingue appears to be a dam in Yanfolila Cercle, Baya Commune. All other cercle and commune units had clear matches.

[2022-03-25 13:42] cmkalman commented on #136
Zendesk ticket created to add Level 4 geometry

[2022-03-30 14:22] NateHeard commented on #175
The files are now updated in DATIM and AGOL.

[2022-03-30 14:22] #175 closed, assigned to NateHeard

[2022-03-30 14:42] NateHeard commented on #179
The new district file is in DATIM and on AGOL.

[2022-03-30 14:42] #179 closed, assigned to NateHeard

[2022-03-30 15:00] NateHeard commented on #172
Bangasu Payam exists at level 4, which is the state level, and level 6, which is the correct payam level. Level 6 also includes four hospitals and a primary health care center. Outreach to the South Sudan team, to alert them to these org hierarchy errors, may be advised. I will investigate potential payam maps.

[2022-03-30 17:24] NateHeard commented on #172
There is not a promising payam map candidate. The one level 5 county that is not represented on the map is Akok County. Although I was able to find several references to this county, which appears to be in Upper Nile State, I was not able to locate a representation of the county boundaries. There are no obvious ways to improve this map, although outreach to the country team may be helpful, particu

[2022-03-30 17:24] #172 closed, assigned to NateHeard

[2022-03-30 18:04] NateHeard commented on #183
The Level 4 unit is named "TO_DELETE". Phu My appears twice in DATIM, once in Ba Ria-Vung Tau and once in Binh Dinh. The Binh Dinh instance is represented in DATIM, AGOL, and Panorama. Ba Ria-Vung Tau's Phu My was not identified in the map published by OCHA Regional Office for Asia and the Pacific (ROAP), which cites Government of Viet Nam as the source of the file. Further research into official

[2022-03-30 18:04] #183 closed, assigned to NateHeard

[2022-03-30 18:05] #127 closed, assigned to cmkalman

[2022-03-30 18:25] NateHeard commented on #138
There is a Makiso at level 5 and at level 6. There is also a Makiso Kisangani at level 5, for which there is a matching uid. Neither "Makiso" have units below them in the hierarchy. Similarly, there is an unmatched Kingabwa 1 but there is also a Kingabwa, which does have a match. Makiso and Kingabwa 1 may be duplicates.

[2022-03-30 18:25] #138 closed, assigned to NateHeard

[2022-03-30 18:31] NateHeard commented on #165
Philippines includes entities such as "Philippines PSNU Placeholder". Will investigate candidate maps for level 7.

[2022-04-08 15:53] cmkalman commented on #150
I found some unusual geometry in the Greater Jakarta area when making a map for the Asia Region. I ended up using boundaries from HDX which were more inline with the boundaries that had been used previously for these same maps.

I used files from this link: https://data.humdata.org/dataset/cod-ab-idn > [idn_adm_bps_20200401_SHP.zip]() > Admin Level 2 for provinces/states

[2022-04-19 18:58] NateHeard commented on #134
Of the unmatched units at the health district level, Bamenda 3 and Belabo are arrondissements and do not seem to be districts. Dang, Kumba-South, Mozogo, Mvog-Ada, and Odza were not located on commonly available maps. Some seem to be towns or other populated places rather than districts. The current health district shapefile has 199 polygons and each one has a uid assigned to it.

[2022-04-19 18:58] #134 closed, assigned to cmkalman

[2022-04-19 19:05] NateHeard commented on #164
Peru is not represented in the current PEPFAR-supported World Map and may be a placeholder. The only subnational unit in Peru is Peru PSNU Placeholder. This OU should be revisited in the future.

[2022-04-19 19:05] #164 closed, assigned to cmkalman

[2022-04-19 19:06] NateHeard commented on #173
Suriname is not currently a PEPFAR-supported country. It does not require geometry in DATIM or Panorama.

[2022-04-19 19:06] #173 closed, assigned to cmkalman

[2022-04-19 19:09] NateHeard commented on #157
These data are now loaded to DATIM.

[2022-04-19 19:09] #157 closed, assigned to NateHeard

[2022-04-19 19:28] NateHeard commented on #161
The Level 4 unit is Obubra General Hospital. This is an error in the hierarchy. Although there is a Go Nafada (cxm2xKiIBud) in DATIM, Go Nafada-Bajoga (fgDvaz58q64) contains all of the Nafada health facilities. Similarly, there are two im Ezinihitte. The one that has "missing geometry" has no health facilities underneath it (IxeWi5YG9lE). Finally, Damagum in Yobe appears to be a town and might not

[2022-04-19 19:28] #161 closed, assigned to cmkalman

[2022-05-03 17:19] NateHeard commented on #171
Even without the references to AGRIAIDS, DATIM has 256 units at this level, compared to the 242 in the best available shapefile of which I am aware, SouthAfrica_Subdistrict_UNAIDS_SPECTRUM_2020. The country team, which includes GIS specialists are aware of the challenges with mapping level 6, which includes both municipalities and health subdistricts. I believe it is that latter that have been dif

[2022-05-03 17:19] #171 closed, assigned to cmkalman

[2022-05-03 17:54] NateHeard commented on #181
Uzbekistan is not currently PEPFAR supported.

[2022-05-03 17:54] #181 closed, assigned to cmkalman

[2022-05-03 18:32] NateHeard commented on #178
Level 5 corresponds to the municipality. I was unable to locate representation of sub-municipality demarcations. Level 8 includes three units named "San Fernando". I believe this map is as complete as we are currently able to make it.

[2022-05-03 18:32] #178 closed, assigned to cmkalman

[2022-05-10 14:15] NateHeard commented on #176
DATIM holds 336 units at level 6. The best shapefile match is from the Royal Thai Survey Department, contributed to HDX by OCHA Regional Office for Asia and the Pacific (ROAP); https://data.humdata.org/dataset/cod-ab-tha. The file is saved as Thailand_PROD_6_District_2022_May.

35 units in DATIM are unmatched. In most cases unmatched units appeared twice in DATIM and were clearly duplicates of the

[2022-05-10 14:29] NateHeard commented on #135
China is not currently PEPFAR supported. Although of interest for mapping historical data, the country is not currently reporting.

[2022-05-10 14:29] #135 closed, assigned to cmkalman

[2022-05-11 13:41] NateHeard commented on #155
The level 5 units have matches and are now stored in Liberia_PROD_5_CountiesLsib_2022_Mar. Opportunities for Level 6 matches are not as clean. Several new, missing districts have matches. However, several do not, for example Buchanan, Bushrod, Saclepea-Mah, Somalia Drive. An updated shapefile that includes new matches is stored as Liberia_PROD_6_DistrictsLsib_2022_Mar.

[2022-05-16 14:38] NateHeard commented on #144
An HDX file, sourced to the Ghana Statistical Services (GSS) matches DATIM's regions and districts perfectly.

[2022-05-16 14:53] NateHeard commented on #168
Commonly available administrative boundaries for Saint Vincent and the Grenadines do not extend below the parish, which is level 5. DATIM has no missing geometry at level 5.

[2022-05-16 14:53] #168 closed, assigned to cmkalman

[2022-05-16 15:08] NateHeard commented on #167
Saint Lucia has a Castries and Vieux Forte District at level 5. The units are duplicated at level 6. Saint Lucia has sub-district divisions and "Vieux Fort/Laborie Highway" is among them. However, the exact duplication of Castries and Vieux Forte at levels 5 and 6 suggest a possible error here.

[2022-05-16 15:08] #167 closed, assigned to cmkalman

[2022-05-16 18:52] NateHeard commented on #174
**Level 6:** There are 28 matches at this level. DATIM includes a Buston Town, which appears to be in Mastchoh District, and exists at the same Level 6. Similarly, Dushanbe City, the capital, is four districts, not itself a district. Kayrakkum appears to refer to a reservoir in Ghafurov District, which has its own uid. Finally, Khorog City, Khujand City, and Kurgan-Tube City all appear to refer to

[2022-05-16 19:10] NateHeard commented on #166
A shapefile for level 6, which is for cities below the parish level, is not readily available.

[2022-05-16 19:10] #166 closed, assigned to cmkalman

[2022-06-01 19:50] NateHeard commented on #176
Loaded to DATIM and AGOL.

[2022-06-01 19:50] #176 closed, assigned to NateHeard

[2022-06-01 21:05] NateHeard commented on #155
Available in DATIM and AGOL.

[2022-06-01 21:05] #155 closed, assigned to NateHeard

[2022-06-01 21:09] NateHeard commented on #165
A large proportion of Level 7 units do not have a match in the shapefiles we investigated.

[2022-06-01 21:09] #165 closed, assigned to NateHeard

[2022-06-01 21:40] NateHeard commented on #144
Loaded to DATIM and AGOL.

[2022-06-01 21:40] #144 closed, assigned to NateHeard

[2022-06-07 19:03] NateHeard commented on #159
Updated Levels 5 and 6 are loaded to AGOL and have a ticket pending in ZenDesk for loading to DATIM.

[2022-06-07 19:03] #159 closed, assigned to NateHeard

[2022-06-08 17:27] NateHeard commented on #143
It's not uncommon for Ethiopia woreda, as used by the health sector, to lack official demarcation at the time of their creation. The PEPFAR Ethiopia team makes every effort to communicate information about demarcations as they become available. For this reason, there is currently no action to take here.

[2022-06-08 17:27] #143 closed, assigned to cmkalman

[2022-08-10 19:35] NateHeard commented on #184
- Colombia extends only to the department level.
- At DATIM Level 7, Burkina Faso's units have prefixes such as CM and CMU, which seem to be references to levels of the health system.
- Philippines has three subnational levels.
- It was possible to add named levels to Benin.

[2022-08-11 20:08] NateHeard commented on #184
Update has been submitted to the DATIM Support Team for posting.

[2022-08-11 20:08] #184 closed, assigned to NateHeard, cmkalman